In [39]:
import pandas as pd

csv = pd.read_csv('vrp_ekz_fact.csv')
csv_p = pd.read_csv('vrp_ekz_prog.csv')

lret_csv = pd.read_csv('lret(2019-2025).csv')
lwhl_csv = pd.read_csv('lwhl(2019-2025).csv')
lagr_csv = pd.read_csv('lagr(2019-2025).csv')
lmin_csv = pd.read_csv('lmin(2019-2025).csv')
lcon_csv = pd.read_csv('lcon(2019-2025).csv')
ltrd_csv = pd.read_csv('ltrd(2001-2018).csv')
man_csv = pd.read_csv('lman, Nman(2019-2025).csv')
Ncon_csv = pd.read_csv('Ncon(2019-2025).csv')
Ntrd_csv = pd.read_csv('Ntrd(2001-2018).csv')
Nmin_csv = pd.read_csv('Nmin(2019-2025).csv')
Nret_csv = pd.read_csv('Nret(2019-2025).csv')
Nagr_csv = pd.read_csv('Nagrt(2019-2025).csv')

Nret_f = csv['o_prod_retail_kzylkoga']
Nwhl_f = csv['o_prod_trade_kzylkoga']
Nagr_f = csv['o_prod_agro_kzylkoga']
Nmin_f = csv['o_prod_mining_kzylkoga']
Nman_f = csv['o_prod_man_kzylkoga']
Ncon_f = csv['o_prod_building_kzylkoga']
Nelc_f = csv['o_prod_energo_kzylkoga']
Nwtr_f = csv['o_prod_water_kzylkoga']
Nind_f = csv['o_prod_water_kzylkoga']

lelc_f = csv['o_ifo_energo_kzylkoga']
lwtr_f = csv['o_ifo_water_kzylkoga']


Ntrd_f = Ntrd_csv['0']
ltrd_f = ltrd_csv['0']


Nmin = Nmin_csv['c1']

Nman = man_csv['Nman']
lman = man_csv['lman']

lret = lret_csv['c1']
lwhl = lwhl_csv['c1']
lagr = lagr_csv['c1']
lmin = lmin_csv['c1']
lcon = lcon_csv['c1']
Ncon = Ncon_csv['c1']
Nret = Nret_csv['c1']
Nagr = Nagr_csv['c1']
inf = csv_p['o_inflation']

lwhl[0:] = 0

ltrd = (lret[0]*Nret_f[18] + lwhl[0]*Nwhl_f[18])/Ntrd_f[18]

lammct = (lagr[0]*Nagr_f[18] + lmin[0]*Nmin_f[18] + lman[0]*Nman_f[18] + lcon[0]*Ncon_f[18] + ltrd * Ntrd_f[18])/(Nagr_f[18]+Nmin_f[18]+Nman_f[18]+Ncon_f[18]+Ntrd_f[18])

S= 100

K = (100*((lammct-100)*1.4590826986110663 +100))/100

lelc= 0

lwtr= K/100 * 100

Delc = 0

Dwtr = inf * 1.09391697341313 + 100

Nelc = 0
Nwtr = (Nwtr_f[18]*lwtr*Dwtr[0])/10000

Nind = Nmin[0]+Nman[0]+Nelc+Nwtr
Nind_f = Nmin_f+Nman_f+Nelc_f+Nwtr_f
lind = ((lmin[0]*Nmin_f[18])+(lman[0]*Nman_f[18])+(lelc*Nelc_f[18])+(lwtr*Nwtr_f[18]))/ Nind_f[18]

Nind = Nmin[0]+Nman[0]+Nelc+Nwtr
Dind= (Nind/Nind_f[18]/lind)*10000

Dwhl = 0

Nwhl = 0
Ntrd = Nret[0]+Nwhl

Dtrd = Ntrd/(Nret_f[18] + Nwhl_f[18])/ltrd_f[18] *10000

Dtrd

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

84.3687679909332

In [40]:
i = 0

newdf = pd.DataFrame(columns=['ltrd','lelc','lwtr','lind','Ntrd','Nelc','Nwtr','Nind','Nwhl','Dtrd','Delc','Dwtr','Dwhl','Dind'],index = range(7))

while i<=5:
    Nind_p = Nmin[i]+Nman[i]+Nelc+Nwtr
    ltrd = (lret[i+1]*Nret[i] + lwhl[i+1]*Nwhl)/Ntrd
    lammct = (lagr[i+1]*Nagr[i] + lmin[i+1]*Nmin[i] + lman[i+1]*Nman[i] + lcon[i+1]*Ncon[i] + ltrd * Ntrd)/(Nagr[i]+Nmin[i]+Nman[i]+Ncon[i]+Ntrd)
    
    S= 100
    K = (100*((lammct-100)*1.4590826986110663 +100))/100
    
    lelc= 0
    lwtr= K/100 * 100
    
    Nelc = 0
    
    Nwtr = (Nwtr*lwtr*Dwtr[i+1])/10000
    Nind = Nmin[i+1]+Nman[i+1]+Nelc+Nwtr
    lind = ((lmin[i+1]*Nmin[i])+(lman[i+1]*Nman[0])+(lelc*Nelc)+(lwtr*Nwtr))/ Nind
    Nind = Nmin[i+1]+Nman[i+1]+Nelc+Nwtr    
    Dind= (Nind/Nind_p/lind)*10000
    Dwhl = 0
    
    Ntrd_l = Nret[i]+Nwhl
    Nwhl = 0
    Ntrd = Nret[i+1]+Nwhl   
    
    Dtrd = Ntrd/Ntrd_l/ltrd*10000
    
    i = i+1
    newdf.loc[i].ltrd = ltrd
    newdf.loc[i].lelc = lelc
    newdf.loc[i].lwtr = lwtr
    newdf.loc[i].lind = lind
    newdf.loc[i].Ntrd = Ntrd
    newdf.loc[i].Nelc = Nelc
    newdf.loc[i].Nwtr = Nwtr
    newdf.loc[i].Nind = Nind
    newdf.loc[i].Nwhl = Nwhl
    
    newdf.loc[i].Dtrd = Dtrd     
    newdf.loc[i].Dwhl = Dwhl
    newdf.loc[i].Dind = Dind
    
newdf.loc[0].ltrd = 78.87408236429367
newdf.loc[0].lelc = 0
newdf.loc[0].lwtr = 85.45468682975707

newdf.loc[0].lind = 88.63221431173324

newdf.loc[0].Ntrd = 1859.7407528241406
newdf.loc[0].Nwtr = 122.93573414301478
newdf.loc[0].Nind = 45965.82790509443
newdf.loc[0].Nwhl = 0

newdf.loc[0].Dtrd = 84.3687679909332
newdf.loc[0].Dwhl = 0
newdf.loc[0].Dind = 98.65941966806872
    
newdf.Delc = Delc 
newdf.Dwtr = Dwtr

newdf

,ltrd,lelc,lwtr,lind,Ntrd,Nelc,Nwtr,Nind,Nwhl,Dtrd,Delc,Dwtr,Dwhl,Dind
0,78.8741,0,85.4547,88.6322,1859.74,NaN,122.936,45965.8,0,84.3688,0,106.563502,0,98.6594
1,105.738,0,103.907,96.1614,2103.45,0,136.123,49271,0,106.966,0,106.563502,0,111.469
2,92.166,0,94.6097,99.9479,2073.72,0,137.238,47046.2,0,106.966,0,106.563502,0,95.5343
3,102.282,0,101.553,99.9918,2244.17,0,146.992,47585.3,0,105.805,0,105.469585,0,101.154
4,113.978,0,109.595,100.012,2706.36,0,169.908,51354,0,105.805,0,105.469585,0,107.907
5,98.3977,0,98.8629,99.9378,2817.59,0,177.163,50686.3,0,105.805,0,105.469585,0,98.7613
6,109.188,0,106.36,99.9698,3255.06,0,198.738,53444.2,0,105.805,0,105.469585,0,105.473

In [41]:
newdf.to_csv(r'Расчет по Оптовой торговле, Электро и Водоснабжению.csv')