In [1]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
csv = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)


poil = csv['o_oil_price']
c=csv['o_year']
voil = csv['o_oil_atyrau']

l=poil.shift(1)
l_b = l.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 71.64
l_o[0]= 71.64
l_p[0]= 71.64
l = l_b.append(l_o).append(l_p).reset_index(drop = True) 

Gpoil= poil/l*100

Gpoil_b = Gpoil.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gpoil_o = Gpoil.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gpoil_p = Gpoil.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)


l=voil.shift(1)
l_b = l.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 13219.7
l_o[0]= 13219.7
l_p[0]= 13219.7
l = l_b.append(l_o).append(l_p).reset_index(drop = True) 
 
Gvoil= voil/l*100

Gvoil_b = Gvoil.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gvoil_o = Gvoil.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gvoil_p = Gvoil.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [2]:
i=0
c=100

newdf = pd.DataFrame(columns=['c1'], index=range(21))
while i<=20:
    c = (c*((((Gpoil[i]-100) * 0.029971273178058266) + ((Gvoil[i]-100) *0.8361289881400980)) + 100)) /100
    newdf.loc[i].c1 = c
    i=i+1
lminS=newdf['c1']

i=0
b=100
o=100
p=100
newdf = pd.DataFrame(columns=['lminS_b','lminS_o','lminS_p'], index=range(12))
while i<=len(Gpoil_b)-1:
    b = (b*((((Gpoil_b[i]-100) * 0.029971273178058266) + ((Gvoil_b[i]-100) * 0.8361289881400980)) + 100)) /100
    o = (o*((((Gpoil_o[i]-100) * 0.029971273178058266) + ((Gvoil_o[i]-100) * 0.8361289881400980)) + 100)) /100
    p = (p*((((Gpoil_p[i]-100) * 0.029971273178058266) + ((Gvoil_p[i]-100) * 0.8361289881400980)) + 100)) /100
    newdf.loc[i].lminS_b = b
    newdf.loc[i].lminS_o = o
    newdf.loc[i].lminS_p = p
    i=i+1
lminS_b = newdf['lminS_b']
lminS_o = newdf['lminS_o']
lminS_p = newdf['lminS_p']
newdf

    lminS_b  lminS_o  lminS_p
0   101.432  101.432  112.342
1   114.301  117.886  112.179
2   114.073  117.529  111.883
3   114.689  119.972  105.454
4   114.689  132.814  103.557
5   112.845   131.07   102.93
6   112.845  132.283  101.902
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [3]:
lmint_bb = lminS_b.shift(1)
lmint_bb[0] = 100
lmin_b = lminS_b/lmint_bb*100

lmint_oo = lminS_o.shift(1)
lmint_oo[0] = 100
lmin_o = lminS_o/lmint_oo*100

lmint_pp = lminS_p.shift(1)
lmint_pp[0] = 100
lmin_p = lminS_p/lmint_pp*100

new = pd.DataFrame(columns=['lmin_b','lmin_o','lmin_p'])

new.lmin_b = lmin_b
new.lmin_o = lmin_o
new.lmin_p = lmin_p

new

     lmin_b   lmin_o   lmin_p
0   101.432  101.432  112.342
1   112.687  116.221  99.8548
2   99.8009  99.6978  99.7361
3   100.539  102.078   94.254
4       100  110.705  98.2005
5   98.3921  98.6866   99.395
6       100  100.925  99.0006
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [6]:
new.to_csv (r'lmin(2019-2025).csv', index = False)

In [6]:
new.to_sql('lmin_prog_atyrau', engine, schema='public',if_exists='replace', index = True)
newdf.to_sql('lmins_prog_atyrau', engine, schema='public',if_exists='replace', index = True)