In [1]:
import pandas as pd
import numpy as np

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

Dcon = pd.read_sql("SELECT * FROM dcon_prog_atyrau ORDER BY index",engine)
lcon = pd.read_sql("SELECT * FROM lcon_prog_atyrau ORDER BY index",engine)

Dcon_b = Dcon['Dcon_b']
Dcon_o = Dcon['Dcon_o']
Dcon_p = Dcon['Dcon_p']

lcon_b = lcon['lcon_b']
lcon_o = lcon['lcon_o']
lcon_p = lcon['lcon_p']


newdf = pd.DataFrame(columns=['Ncon_b','Ncon_o','Ncon_p'], index=range(12))

b = 25580
o = 25580
p = 25580
i=0

while i<=len(lcon_b)-1:
    b = b * lcon_b[i] * Dcon_b[i]/10000
    o = o * lcon_o[i] * Dcon_o[i]/10000
    p = p * lcon_p[i] * Dcon_p[i]/10000
    
    newdf.loc[i].Ncon_b = b    
    newdf.loc[i].Ncon_o = o    
    newdf.loc[i].Ncon_p = p    
    i=i+1

newdf.to_sql('ncon_prog_kurmangazy', engine, schema='public',if_exists='replace', index = True)

In [2]:
newdf

     Ncon_b   Ncon_o   Ncon_p
0   27455.4  26790.5  21702.3
1   31654.1  38314.1  22739.2
2     33981  43042.2    23822
3   36550.8  48574.4    24586
4   39259.7    55931  25655.2
5   41987.9  62399.9  26861.9
6   45098.6  69922.5    22120
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN