In [7]:
import pandas as pd
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = ((xlsx['o_cattle_kurmangazy'] * xlsx['o_weight_cattle']).shift(1) + (xlsx['o_goats_kurmangazy'] * xlsx['o_weight_goats']).shift(1) + (xlsx['o_horses_kurmangazy']* xlsx['o_weight_horses']).shift(1) + (xlsx['o_poultry_kurmangazy'] * xlsx['o_weight_poultry']).shift(1))
l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 31028.90
l_o[0]= 31028.90
l_p[0]= 31028.90
l = l_b.append(l_o).append(l_p).reset_index(drop = True)
Ganm = ((xlsx['o_cattle_kurmangazy'] * xlsx['o_weight_cattle']) + (xlsx['o_goats_kurmangazy'] * xlsx['o_weight_goats']) + (xlsx['o_horses_kurmangazy']* xlsx['o_weight_horses']) + (xlsx['o_poultry_kurmangazy'] * xlsx['o_weight_poultry']))/l * 100

Ganm_b = Ganm.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Ganm_o = Ganm.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Ganm_p = Ganm.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [8]:
import pandas as pd
import numpy as np
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = (xlsx['o_potato_kurmangazy'].shift(1) + xlsx['o_grain_kurmangazy'].shift(1) + xlsx['o_vegetables_kurmangazy'].shift(1))
l = (xlsx['o_potato_kurmangazy'].shift(1) + xlsx['o_grain_kurmangazy'].shift(1) + xlsx['o_vegetables_kurmangazy'].shift(1))
l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 9.22
l_o[0]= 9.22
l_p[0]= 9.22
l = l_b.append(l_o).append(l_p).reset_index(drop = True)
Gplg = ((xlsx['o_potato_kurmangazy'] + xlsx['o_grain_kurmangazy'] + xlsx['o_vegetables_kurmangazy'])/l)*100

Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [9]:
i=0
c=100
a=100
b=100
newdf = pd.DataFrame(columns=['largS_b','largS_o','largS_p'], index=range(12))
while i<=(len(Gplg_b)-1):
    c = (c*((((Gplg_b[i]-100) * 0.5820702231009093) + ((Ganm_b[i]-100) * 0.7141690974620434)) + 100)) /100    
    a = (a*((((Gplg_o[i]-100) * 0.5820702231009093) + ((Ganm_o[i]-100) * 0.7141690974620434)) + 100)) /100
    b = (b*((((Gplg_p[i]-100) * 0.5820702231009093) + ((Ganm_p[i]-100) * 0.7141690974620434)) + 100)) /100
   
    newdf.loc[i].largS_b = c
    newdf.loc[i].largS_o = a
    newdf.loc[i].largS_p = b
    i=i+1
    
lagrS_b=newdf['largS_b']
lagrS_o=newdf['largS_o']
lagrS_p=newdf['largS_p']

newdf

    largS_b  largS_o  largS_p
0   105.917  105.917  112.194
1   112.274  112.274  118.943
2   119.028  119.028   126.17
3   126.261  126.261  133.891
4   133.986  133.986  142.139
5    142.24   142.24  150.868
6   150.976  150.976  103.816
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [10]:
lagrt_bb = lagrS_b.shift(1)
lagrt_bb[0] = 100
lagr_b = lagrS_b/lagrt_bb*100

lagrt_oo = lagrS_o.shift(1)
lagrt_oo[0] = 100
lagr_o = lagrS_o/lagrt_oo*100

lagrt_pp = lagrS_p.shift(1)
lagrt_pp[0] = 100
lagr_p = lagrS_p/lagrt_pp*100

new = pd.DataFrame(columns=['lagr_b','lagr_o','lagr_p'])

new.lagr_b = lagr_b
new.lagr_o = lagr_o
new.lagr_p = lagr_p

new

     lagr_b   lagr_o   lagr_p
0   105.917  105.917  112.194
1   106.002  106.002  106.015
2   106.015  106.015  106.076
3   106.076  106.076  106.119
4   106.119  106.119   106.16
5    106.16   106.16  106.141
6   106.141  106.141  68.8125
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [12]:
new.to_csv(r'lagr(2019-2025).csv', index = False)