In [1]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_prog.csv')
s = pd.read_csv('lmin(2019-2025).csv')

com = csv['o_housing_atyrau']
lmin_b = s['lmin_b']
lmin_o = s['lmin_o']
lmin_p = s['lmin_p']

a=com.shift(1)
a_b = a.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
a_o = a.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
a_p = a.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
a_b[0]= 568.34
a_o[0]= 568.34
a_p[0]= 568.34
a = a_b.append(a_o).append(a_p).reset_index(drop = True) 

Gcom = com/a*100

Gcom_b = Gcom.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gcom_o = Gcom.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gcom_p = Gcom.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
 
i=0
b=100
o=100
p=100
newdf = pd.DataFrame(columns=['lconS_b','lconS_o','lconS_p'], index=range(12))
while i<=len(Gcom_b)-1:
    b = (b*((((Gcom_b[i]-100) * 2.4853648695011965) + ((lmin_b[i]-100) * 0.28506245188638907)) + 100)) /100
    o = (o*((((Gcom_o[i]-100) * 2.4853648695011965) + ((lmin_o[i]-100) * 0.28506245188638907)) + 100)) /100
    p = (p*((((Gcom_p[i]-100) * 2.4853648695011965) + ((lmin_p[i]-100) * 0.28506245188638907)) + 100)) /100
    newdf.loc[i].lconS_b = b
    newdf.loc[i].lconS_o = o
    newdf.loc[i].lconS_p = p 
    i=i+1
lconS_b = newdf['lconS_b']
lconS_o = newdf['lconS_o']
lconS_p = newdf['lconS_p']

newdf

    lconS_b  lconS_o  lconS_p
0   108.748  108.748   116.83
1   120.737  127.488  122.411
2   129.613   143.22  128.241
3   139.415  161.628  132.353
4   149.747  186.107  138.109
5   160.153  207.632  144.605
6   172.018  232.663  104.908
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [2]:
lcont_bb = lconS_b.shift(1)
lcont_bb[0] = 100
lcon_b = lconS_b/lcont_bb*100

lcont_oo = lconS_o.shift(1)
lcont_oo[0] = 100
lcon_o = lconS_o/lcont_oo*100

lcont_pp = lconS_p.shift(1)
lcont_pp[0] = 100
lcon_p = lconS_p/lcont_pp*100

new = pd.DataFrame(columns=['lcon_b','lcon_o','lcon_p'])

new.lcon_b = lcon_b
new.lcon_o = lcon_o
new.lcon_p = lcon_p

new.to_csv(r'lcon_Atyrau(2019-2025).csv')