In [1]:
import pandas as pd
import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
a = pd.read_sql("SELECT * FROM lamm_prog_isatai ORDER BY index",engine)
lamm_b = a['lamm_b']
lamm_o = a['lamm_o']
lamm_p = a['lamm_p']

b=100
o=100
p=100
i=0
newdf = pd.DataFrame(columns=['lwhlS_b','lwhlS_o','lwhlS_p'], index=range(12))
while i<=len(lamm_b)-1:
    b = b * ((lamm_b[i]-100)* (-0.7086630795963983) + 100)/100
    o = o * ((lamm_o[i]-100)* (-0.7086630795963983) + 100)/100
    p = p * ((lamm_p[i]-100)* (-0.7086630795963983) + 100)/100

    newdf.loc[i].lwhlS_b = b
    newdf.loc[i].lwhlS_o = o
    newdf.loc[i].lwhlS_p = p
    
    i = i+1
    
lwhlS_b = newdf['lwhlS_b']
lwhlS_o = newdf['lwhlS_o']
lwhlS_p = newdf['lwhlS_p']

newdf

    lwhlS_b  lwhlS_o  lwhlS_p
0   102.306  102.306  102.306
1   104.339  100.883  102.423
2   104.535  101.146  105.311
3   107.361  103.284  107.334
4   107.009  97.7761  107.661
5   107.292  97.9049  106.018
6   105.555  95.9474  94.9502
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [2]:
lwhlt_bb = lwhlS_b.shift(1)
lwhlt_bb[0] = 100
lwhl_b = lwhlS_b/lwhlt_bb*100

lwhlt_oo = lwhlS_o.shift(1)
lwhlt_oo[0] = 100
lwhl_o = lwhlS_o/lwhlt_oo*100

lwhlt_pp = lwhlS_p.shift(1)
lwhlt_pp[0] = 100
lwhl_p = lwhlS_p/lwhlt_pp*100

new = pd.DataFrame(columns=['lwhl_b','lwhl_o','lwhl_p'])

new.lwhl_b = lwhl_b
new.lwhl_o = lwhl_o
new.lwhl_p = lwhl_p

newdf.to_sql('lwhls_prog_isatai', engine, schema='public',if_exists='replace', index = True)
new.to_sql('lwhl_prog_isatai', engine, schema='public',if_exists='replace', index = True)