In [22]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

csv = pd.read_sql('SELECT * FROM vrp_ekz_fact ORDER BY id',engine)

lwtr = csv['o_ifo_water_makhambet']
lelc = csv['o_ifo_energo_makhambet']
lman = csv['o_ifo_man_makhambet']
lmin = csv['o_ifo_mining_makhambet']

Nwtr = csv['o_prod_water_makhambet']
Nelc = csv['o_prod_energo_makhambet']
Nman = csv['o_prod_man_makhambet']
Nmin = csv['o_prod_mining_makhambet']

Nind = Nmin+Nman+Nelc+Nwtr

newdf = pd.DataFrame(columns=['Dind_makhambet','lind_makhambet','Nind_makhambet'], index=range(19))
i=1
while i<=18:    
    
    lind = (lmin[i]*Nmin[i-1]+lman[i]*Nman[i-1]+lelc[i]*Nelc[i-1]+lwtr[i]*Nwtr[i-1])/Nind[i-1]    
    Dind=(Nind[i]/Nind[i-1]/lind)*10000
    
    newdf.loc[i].Dind_makhambet = Dind
    newdf.loc[i].lind_makhambet = lind
    i= i+1
    
lind = newdf['lind_makhambet']
Dind = newdf['Dind_makhambet']
newdf.Nind_makhambet = Nind
Nind = newdf['Nind_makhambet']

newdf.to_sql('dind_lind_nind_fact_makhambet', engine, schema='public',if_exists='replace', index = True)

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:26: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:27: RuntimeWarning: divide by zero encountered in double_scalars

In [23]:
newdf

   Dind_makhambet lind_makhambet  Nind_makhambet
0             NaN            NaN           118.0
1        0.270753            313             1.0
2         120.192           83.2             1.0
3               0           63.8             0.0
4             NaN            NaN           594.0
5         150.426           95.8           856.0
6         106.956          118.4          1084.0
7         25.9625          577.4          1625.0
8          110.25         94.387          1691.0
9         175.498         100.82          2992.0
10         109.08        107.578          3511.0
11        249.667        94.1613          8254.0
12        106.699        119.633         10536.0
13        90.2826        83.7348          7965.0
14        71.2826        99.0373          5623.0
15        69.9703        81.2062          3195.0
16        107.351         116.74          4004.0
17        116.681        83.4994          3901.0
18        102.526        105.887          4235.0