In [1]:
import pandas as pd
a = pd.read_csv('lamm(2019-2025).csv')
lamm_b = a['lamm_b']
lamm_o = a['lamm_o']
lamm_p = a['lamm_p']

b=100
o=100
p=100
i=0
newdf = pd.DataFrame(columns=['lwhlS_b','lwhlS_o','lwhlS_p'], index=range(12))
while i<=len(lamm_b)-1:
    b = b * ((lamm_b[i]-100)* 0.6692017125559914 + 100)/100
    o = o * ((lamm_o[i]-100)* 0.6692017125559914 + 100)/100
    p = p * ((lamm_p[i]-100)* 0.6692017125559914 + 100)/100

    newdf.loc[i].lwhlS_b = b
    newdf.loc[i].lwhlS_o = o
    newdf.loc[i].lwhlS_p = p
    
    i = i+1
    
lwhlS_b = newdf['lwhlS_b']
lwhlS_o = newdf['lwhlS_o']
lwhlS_p = newdf['lwhlS_p']

newdf

    lwhlS_b  lwhlS_o  lwhlS_p
0   101.708  101.708  101.708
1    105.71  108.999   104.86
2   108.597  111.643  108.455
3   112.315  116.003  113.645
4   120.335   130.68   117.52
5    124.03  134.377  121.701
6   128.258  139.147  99.7957
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [2]:
lwhlt_bb = lwhlS_b.shift(1)
lwhlt_bb[0] = 100
lwhl_b = lwhlS_b/lwhlt_bb*100

lwhlt_oo = lwhlS_o.shift(1)
lwhlt_oo[0] = 100
lwhl_o = lwhlS_o/lwhlt_oo*100

lwhlt_pp = lwhlS_p.shift(1)
lwhlt_pp[0] = 100
lwhl_p = lwhlS_p/lwhlt_pp*100

new = pd.DataFrame(columns=['lwhl_b','lwhl_o','lwhl_p'])

new.lwhl_b = lwhl_b
new.lwhl_o = lwhl_o
new.lwhl_p = lwhl_p

new

     lwhl_b   lwhl_o   lwhl_p
0   101.708  101.708  101.708
1   103.934  107.168  103.098
2   102.732  102.426  103.429
3   103.423  103.905  104.785
4   107.141  112.653   103.41
5    103.07  102.829  103.558
6   103.409   103.55  82.0007
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [6]:
new.to_csv(r'lwhl(2019-2025).csv', index =False)