In [1]:
import pandas as pd
import numpy as np

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

Dmin = pd.read_sql("SELECT * FROM dmin_prog_inder ORDER BY index",engine)
lmin = pd.read_sql("SELECT * FROM lmin_prog_inder ORDER BY index",engine)

Dmin_b = Dmin['Dmin_b']
Dmin_o = Dmin['Dmin_o']
Dmin_p = Dmin['Dmin_p']

lmin = lmin['lmin']


newdf = pd.DataFrame(columns=['Nmin_b','Nmin_o','Nmin_p'], index=range(12))

b = 68
o = 68
p = 68
i=0

while i<=len(lmin)-1:
    b = b * lmin[i] * Dmin_b[i]/10000
    o = o * lmin[i] * Dmin_o[i]/10000
    p = p * lmin[i] * Dmin_p[i]/10000
    
    newdf.loc[i].Nmin_b = b    
    newdf.loc[i].Nmin_o = o    
    newdf.loc[i].Nmin_p = p    
    i=i+1
    
newdf.to_sql('nmin_prog_inder', engine, schema='public',if_exists='replace', index = True)

In [2]:
newdf

     Nmin_b   Nmin_o   Nmin_p
0   70.6818  69.2333  54.8779
1   75.2389  84.6793  56.5724
2   75.4335  84.8984  56.7187
3   75.6409  85.1318  56.8746
4   77.4154  87.1289  58.2089
5   80.0285  90.0699  60.1737
6    83.157  93.5909  69.6874
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN