In [1]:
import pandas as pd
a = pd.read_csv('lamm(2019-2025).csv')
lamm_b = a['lamm_b']
lamm_o = a['lamm_o']
lamm_p = a['lamm_p']

b=100
o=100
p=100
i=0
newdf = pd.DataFrame(columns=['lretS_b','lretS_o','lretS_p'], index=range(12))
while i<=len(lamm_b)-1:
    b = b * ((lamm_b[i]-100)* 1.1096299590091732 + 100)/100
    o = o * ((lamm_o[i]-100)* 1.1096299590091732 + 100)/100
    p = p * ((lamm_p[i]-100)* 1.1096299590091732 + 100)/100

    newdf.loc[i].lretS_b = b
    newdf.loc[i].lretS_o = o
    newdf.loc[i].lretS_p = p
    
    i = i+1
    
lretS_b = newdf['lretS_b']
lretS_o = newdf['lretS_o']
lretS_p = newdf['lretS_p']

newdf

    lretS_b  lretS_o  lretS_p
0   104.686  104.686  104.686
1   105.652  110.256  108.458
2   109.329  113.847  110.805
3    112.83  119.764  121.146
4   133.866  162.977  130.414
5   143.747  174.329  132.484
6   147.189  180.686  106.746
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [2]:
lrett_bb = lretS_b.shift(1)
lrett_bb[0] = 100
lret_b = lretS_b/lrett_bb*100

lrett_oo = lretS_o.shift(1)
lrett_oo[0] = 100
lret_o = lretS_o/lrett_oo*100

lrett_pp = lretS_p.shift(1)
lrett_pp[0] = 100
lret_p = lretS_p/lrett_pp*100

new = pd.DataFrame(columns=['lret_b','lret_o','lret_p'])

new.lret_b = lret_b
new.lret_o = lret_o
new.lret_p = lret_p

new

     lret_b   lret_o   lret_p
0   104.686  104.686  104.686
1   100.923  105.321  103.603
2   103.481  103.257  102.164
3   103.202  105.198  109.333
4   118.644  136.082   107.65
5   107.382  106.965  101.588
6   102.394  103.647  80.5725
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [3]:
new.to_csv(r'lret(2019-2025).csv')