In [1]:
import pandas as pd
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = (xlsx['o_cattle_inder'] * xlsx['o_weight_cattle']).shift(1) + (xlsx['o_goats_inder'] * xlsx['o_weight_goats']).shift(1) + (xlsx['o_horses_inder']* xlsx['o_weight_horses']).shift(1) + (xlsx['o_poultry_inder'] * xlsx['o_weight_poultry']).shift(1)
l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 11046.12
l_o[0]= 11046.12
l_p[0]= 11046.12
l = l_b.append(l_o).append(l_p).reset_index(drop = True)
  
Ganm = ((xlsx['o_cattle_inder'] * xlsx['o_weight_cattle']) + (xlsx['o_goats_inder'] * xlsx['o_weight_goats']) + (xlsx['o_horses_inder']* xlsx['o_weight_horses']) + (xlsx['o_poultry_inder'] * xlsx['o_weight_poultry']))/l 

Ganm_b = Ganm.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Ganm_o = Ganm.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Ganm_p = Ganm.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf = pd.DataFrame(columns=['GanmS_b','GanmS_o','GanmS_p'], index=range(12))
b=100
o=100
p=100
i=0
while i<=(len(Ganm_b)-1):
    b = ( b * Ganm_b[i])
    o = ( o * Ganm_o[i])
    p = ( p * Ganm_p[i])
    
    newdf.loc[i].GanmS_b = b
    newdf.loc[i].GanmS_o = o
    newdf.loc[i].GanmS_p = p
    i=i+1
    
GanmS_b=newdf['GanmS_b']
GanmS_o=newdf['GanmS_o']
GanmS_p=newdf['GanmS_p']
newdf

    GanmS_b  GanmS_o  GanmS_p
0   102.834  102.834  105.715
1   105.715  105.715  108.676
2   108.676  108.676  111.744
3   111.744  111.744  114.863
4   114.863  114.863  118.089
5   118.089  118.089   121.42
6    121.42   121.42  102.834
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN