In [2]:
import pandas as pd
import numpy as np
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = xlsx['o_potato_inder'].shift(1) + xlsx['o_grain_inder'].shift(1) + xlsx['o_vegetables_inder'].shift(1)
l[0]=18.93
l[7]=18.93
l[14]=18.93

Gplg = ((xlsx['o_potato_inder'] + xlsx['o_grain_inder'] + xlsx['o_vegetables_inder'])/l)

Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf = pd.DataFrame(columns=['GplgS_b','GplgS_o','GplgS_p'], index=range(12))
b=100
o=100
p=100
i=0
while i<=(len(Gplg_b)-1):
    b = ( b * Gplg_b[i])
    o = ( o * Gplg_o[i])
    p = ( p * Gplg_p[i])
    
    newdf.loc[i].GplgS_b = b
    newdf.loc[i].GplgS_o = o
    newdf.loc[i].GplgS_p = p
    i=i+1
    
GplgS_b=newdf['GplgS_b']
GplgS_o=newdf['GplgS_o']
GplgS_p=newdf['GplgS_p']
newdf

    GplgS_b  GplgS_o  GplgS_p
0   106.973  106.973  114.474
1   114.474  114.474  122.504
2   122.504  122.504  131.009
3   131.009  131.009  140.201
4   140.201  140.201  150.026
5   150.026  150.026  160.539
6   160.539  160.539  106.973
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN