In [3]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

csv = pd.read_sql('SELECT * FROM vrp_ekz_fact ORDER BY id',engine)
csv_p =  pd.read_sql('SELECT * FROM vrp_prognoz_inder ORDER BY index',engine)

lagr_csv = pd.read_sql('SELECT * FROM lagr_prog_inder ORDER BY index',engine)
lcon_csv = pd.read_sql('SELECT * FROM lcon_prog_inder ORDER BY index ',engine)
 
nagr_csv = pd.read_sql('SELECT * FROM nagr_prog_inder ORDER BY index ',engine)
ncon_csv = pd.read_sql('SELECT * FROM ncon_prog_inder ORDER BY index ',engine)


Nind = csv_p['Nind_inder']
lind = csv_p['lind_inder']

Nind_b = Nind.loc[csv_p.prognoz.str.match(r'базовый')].reset_index(drop = True)
lind_b = lind.loc[csv_p.prognoz.str.match(r'базовый')].reset_index(drop = True)
Nind_o = Nind.loc[csv_p.prognoz.str.match(r'оптимистичный')].reset_index(drop = True)
lind_o = lind.loc[csv_p.prognoz.str.match(r'оптимистичный')].reset_index(drop = True)
Nind_p = Nind.loc[csv_p.prognoz.str.match(r'пессимистичный')].reset_index(drop = True)
lind_p = lind.loc[csv_p.prognoz.str.match(r'пессимистичный')].reset_index(drop = True)

lagr_b = lagr_csv['lagr_b']
lagr_o = lagr_csv['lagr_o']
lagr_p = lagr_csv['lagr_p']
lcon_b = lcon_csv['lcon_b']
lcon_o = lcon_csv['lcon_o']
lcon_p = lcon_csv['lcon_p']

Nagr_b = nagr_csv['Nagr_b']
Nagr_o = nagr_csv['Nagr_o']
Nagr_p = nagr_csv['Nagr_p']
Ncon_b = ncon_csv['Ncon_b']
Ncon_o = ncon_csv['Ncon_o']
Ncon_p = ncon_csv['Ncon_p']


lagr_f =      csv['o_ifo_agro_inder'] 
lcon_f =  csv['o_ifo_building_inder'] 

Nagr_f =     csv['o_prod_agro_inder']
Ncon_f = csv['o_prod_building_inder']

Nind_csv_f = pd.read_sql('SELECT * FROM dind_lind_nind_fact_inder ORDER BY index',engine)

lagr_f =     csv['o_ifo_agro_inder'] 
lcon_f = csv['o_ifo_building_inder'] 
Nagr_f =    csv['o_prod_agro_inder']
Ncon_f =csv['o_prod_building_inder']

Nind_f = Nind_csv_f['Nind_inder']

lgds_b = (lagr_b[1:]*Nagr_b.shift(1) + lind_b[1:]*Nind_b.shift(1) + lcon_b[1:]*Ncon_b.shift(1))/(Nagr_b.shift(1)+Nind_b.shift(1)+Ncon_b.shift(1))
lgds_b[0]=(lagr_b[0]*Nagr_f[18]+lind_b[0]*Nind_f[18]+lcon_b[0]*Ncon_f[18])/(Ncon_f[18]+Nind_f[18]+Nagr_f[18])

lgds_o =  (lagr_o[1:]*Nagr_o.shift(1) + lind_o[1:]*Nind_o.shift(1) + lcon_o[1:]*Ncon_o.shift(1))/(Nagr_o.shift(1)+Nind_o.shift(1)+Ncon_o.shift(1))
lgds_o[0]=(lagr_o[0]*Nagr_f[18]+lind_o[0]*Nind_f[18]+lcon_o[0]*Ncon_f[18])/(Ncon_f[18]+Nind_f[18]+Nagr_f[18])

lgds_p =  (lagr_p[1:]*Nagr_p.shift(1) + lind_p[1:]*Nind_p.shift(1) + lcon_p[1:]*Ncon_p.shift(1))/(Nagr_p.shift(1)+Nind_p.shift(1)+Ncon_p.shift(1))
lgds_p[0]=(lagr_p[0]*Nagr_f[18]+lind_p[0]*Nind_f[18]+lcon_p[0]*Ncon_f[18])/(Ncon_f[18]+Nind_f[18]+Nagr_f[18])

lgds = lgds_b.append(lgds_o).append(lgds_p).dropna().reset_index(drop = True)

n = lgds_b.append(lgds_o).append(lgds_p).dropna().reset_index(drop = True)
lgds = pd.DataFrame(columns=['lgds_inder'])
lgds.lgds_inder = n


lgds.to_sql('lgds_prog_inder', engine, schema='public',if_exists='replace', index = True)

In [4]:
lgds

    lgds_inder
0   108.863874
1   107.631189
2   104.733721
3   104.213229
4   105.911086
5   107.368613
6   109.263407
7   108.863874
8   106.878438
9   104.661216
10  104.391464
11  107.544540
12  111.080691
13  115.982383
14  114.773242
15  107.144231
16  104.862734
17  104.499154
18  105.378048
19  105.918522
20   73.574388

In [5]:
lagr_b[0]

106.518167359778

In [6]:
lind_b[0]

104.613030196095

In [7]:
lcon_b[0]

176.202381834224