In [1]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

csv = pd.read_sql('SELECT * FROM vrp_prognoz_inder ORDER BY index',engine)

Nagr = csv['Nagr_inder']
Ncon = csv['Ncon_inder']
Nind = csv['Nind_inder']

n = Nind + Ncon + Nagr
Ngds = pd.DataFrame(columns=['Ngds_inder'])

Ngds.Ngds_inder = n

Ngds.to_sql('ngds_prog_inder', engine, schema='public',if_exists='replace', index = True)

In [2]:
Ngds

      Ngds_inder
0   12901.144904
1   14805.111453
2   16524.075085
3   18312.450233
4   20698.310089
5   23755.878128
6   27736.992824
7   12849.843562
8   15298.636564
9   17233.868597
10  19293.211098
11  22266.181766
12  26481.409920
13  32707.386200
14  13194.663349
15  15136.878170
16  16955.052378
17  19017.070753
18  21580.010803
19  24663.938811
20  19577.663736