In [1]:
import pandas as pd
import numpy as np

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
xlsx = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)

l = xlsx['o_year']
l = ((xlsx['o_cattle_zhylyoi'] * xlsx['o_weight_cattle']).shift(1) + (xlsx['o_goats_zhylyoi'] * xlsx['o_weight_goats']).shift(1) + (xlsx['o_horses_zhylyoi']* xlsx['o_weight_horses']).shift(1) + (xlsx['o_poultry_zhylyoi'] * xlsx['o_weight_poultry']).shift(1))
l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 10300.48
l_o[0]= 10300.48
l_p[0]= 10300.48
l = l_b.append(l_o).append(l_p).reset_index(drop = True)
Ganm = ((xlsx['o_cattle_zhylyoi'] * xlsx['o_weight_cattle']) + (xlsx['o_goats_zhylyoi'] * xlsx['o_weight_goats']) + (xlsx['o_horses_zhylyoi']* xlsx['o_weight_horses']) + (xlsx['o_poultry_zhylyoi'] * xlsx['o_weight_poultry']))/ l*100
Ganm_b = Ganm.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Ganm_o = Ganm.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Ganm_p = Ganm.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [2]:
import pandas as pd
import numpy as np

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
xlsx = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)

l = (xlsx['o_potato_zhylyoi'].shift(1) + xlsx['o_grain_zhylyoi'].shift(1) + xlsx['o_vegetables_zhylyoi'].shift(1))
l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]=1.03
l_o[0]=1.03
l_p[0]=1.03
l = l_b.append(l_o).append(l_p).reset_index(drop = True)
Gplg = (xlsx['o_potato_zhylyoi'] + xlsx['o_grain_zhylyoi'] + xlsx['o_vegetables_zhylyoi'])/l*100
Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [3]:
i=0
c=100
a=100
b=100
newdf = pd.DataFrame(columns=['largS_b','largS_o','largS_p'], index=range(12))
while i<=(len(Gplg_b)-1):
    c = (c*((((Gplg_b[i]-100) * 0.1094682652007773) + ((Ganm_b[i]-100) * 0.642300399020619)) + 100)) /100    
    a = (a*((((Gplg_o[i]-100) * 0.1094682652007773) + ((Ganm_o[i]-100) * 0.642300399020619)) + 100)) /100
    b = (b*((((Gplg_p[i]-100) * 0.1094682652007773) + ((Ganm_p[i]-100) * 0.642300399020619)) + 100)) /100
   
    newdf.loc[i].largS_b = c
    newdf.loc[i].largS_o = a
    newdf.loc[i].largS_p = b
    i=i+1
    
lagrS_b=newdf['largS_b']
lagrS_o=newdf['largS_o']
lagrS_p=newdf['largS_p']

newdf

    largS_b  largS_o  largS_p
0   103.352  103.352  107.155
1   107.092  107.092  111.091
2   111.027  111.027  115.383
3   115.317  115.317  120.129
4   120.059  120.059  125.415
5   125.343  125.343  131.348
6   131.272  131.272  105.312
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [4]:
lagrt_bb = lagrS_b.shift(1)
lagrt_bb[0] = 100
lagr_b = lagrS_b/lagrt_bb*100

lagrt_oo = lagrS_o.shift(1)
lagrt_oo[0] = 100
lagr_o = lagrS_o/lagrt_oo*100

lagrt_pp = lagrS_p.shift(1)
lagrt_pp[0] = 100
lagr_p = lagrS_p/lagrt_pp*100

new = pd.DataFrame(columns=['lagr_b','lagr_o','lagr_p'])

new.lagr_b = lagr_b
new.lagr_o = lagr_o
new.lagr_p = lagr_p

new.to_sql('lagr_prog_zhylyoi', engine, schema='public',if_exists='replace', index = True)
newdf.to_sql('lagrs_prog_zhylyoi', engine, schema='public',if_exists='replace', index = True)