In [2]:
import pandas as pd
import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

csv_inder_n =    pd.read_sql('SELECT * FROM vrp_prognoz_inder ORDER BY index',engine) 
csv_isatai_n =   pd.read_sql('SELECT * FROM vrp_prognoz_isatai ORDER BY index',engine)
csv_atyrau_n =   pd.read_sql('SELECT * FROM vrp_prognoz_atyrau ORDER BY index',engine)
csv_kurmangazy_n=pd.read_sql('SELECT * FROM vrp_prognoz_kurmangazy ORDER BY index',engine)
csv_kzylkoga_n = pd.read_sql('SELECT * FROM vrp_prognoz_kzylkoga ORDER BY index',engine)
csv_makat_n =    pd.read_sql('SELECT * FROM vrp_prognoz_makat ORDER BY index',engine) 
csv_makhambet_n =pd.read_sql('SELECT * FROM vrp_prognoz_makhambet ORDER BY index',engine) 
csv_zhylyoi_n =  pd.read_sql('SELECT * FROM vrp_prognoz_zhylyoi ORDER BY index',engine)

inder =         csv_inder_n['Nman']
isatai =       csv_isatai_n['Nman']
atyrau =       csv_atyrau_n['Nman']
kurmangazy=csv_kurmangazy_n['Nman'] 
kzylkoga =   csv_kzylkoga_n['Nman'] 
makat=          csv_makat_n['Nman']
makhambet=  csv_makhambet_n['Nman']
zhylyoi =     csv_zhylyoi_n['Nman']


Nagr = (inder+isatai+atyrau+kurmangazy+kzylkoga+makat+makhambet+zhylyoi)

Nagr.to_sql('nman_ao', engine, schema='public',if_exists='replace', index = True)

0     6.003568e+05
1     6.464868e+05
2     6.637357e+05
3     6.773104e+05
4     7.319150e+05
5     7.569720e+05
6     7.665236e+05
7     5.851016e+05
8     7.630205e+05
9     7.836029e+05
10    8.087901e+05
11    9.530251e+05
12    9.955750e+05
13    1.019205e+06
14    4.402219e+05
15    4.547994e+05
16    4.624847e+05
17    4.765859e+05
18    4.902907e+05
19    4.934068e+05
20    5.093303e+05
Name: Nman, dtype: float64