In [1]:
import pandas as pd
a = pd.read_csv('lamm(2019-2025).csv')
lamm_b = a['lamm_b']
lamm_o = a['lamm_o']
lamm_p = a['lamm_p']

b=100
o=100
p=100
i=0
newdf = pd.DataFrame(columns=['lwhlS_b','lwhlS_o','lwhlS_p'], index=range(12))
while i<=len(lamm_b)-1:
    b = b * ((lamm_b[i]-100)* 1.343430083870489 + 100)/100
    o = o * ((lamm_o[i]-100)* 1.343430083870489 + 100)/100
    p = p * ((lamm_p[i]-100)* 1.343430083870489 + 100)/100

    newdf.loc[i].lwhlS_b = b
    newdf.loc[i].lwhlS_o = o
    newdf.loc[i].lwhlS_p = p
    
    i = i+1
    
lwhlS_b = newdf['lwhlS_b']
lwhlS_o = newdf['lwhlS_o']
lwhlS_p = newdf['lwhlS_p']

newdf

    lwhlS_b  lwhlS_o  lwhlS_p
0   105.673  105.673  105.673
1   106.854   112.48  110.283
2   111.357  116.916  113.172
3   115.673  124.273   125.96
4   141.784  178.561  137.626
5   154.454  193.618  140.272
6   158.932  202.167  107.278
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [2]:
lwhlt_bb = lwhlS_b.shift(1)
lwhlt_bb[0] = 100
lwhl_b = lwhlS_b/lwhlt_bb*100

lwhlt_oo = lwhlS_o.shift(1)
lwhlt_oo[0] = 100
lwhl_o = lwhlS_o/lwhlt_oo*100

lwhlt_pp = lwhlS_p.shift(1)
lwhlt_pp[0] = 100
lwhl_p = lwhlS_p/lwhlt_pp*100

new = pd.DataFrame(columns=['lwhl_b','lwhl_o','lwhl_p'])

new.lwhl_b = lwhl_b
new.lwhl_o = lwhl_o
new.lwhl_p = lwhl_p

new

     lwhl_b   lwhl_o   lwhl_p
0   105.673  105.673  105.673
1   101.118  106.442  104.362
2   104.214  103.944   102.62
3   103.876  106.293  111.299
4   122.572  143.684  109.262
5   108.937  108.433  101.922
6   102.899  104.415  76.4791
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [6]:
new.to_csv(r'lwhl(2019-2025).csv', index =False)