In [1]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
csv_p = pd.read_sql('SELECT * FROM vrp_prognoz_atyrau ORDER BY index',engine)


csv   = pd.read_sql('SELECT * FROM lgds_prog_atyrau ORDER BY index',engine)
csv_n = pd.read_sql('SELECT * FROM ngds_prog_atyrau ORDER BY index',engine)

lgds =   csv['lgds_atyrau']
Ngds = csv_n['Ngds_atyrau']

Ngds_pp = Ngds.shift(1)

Ngds_pp_b = Ngds_pp.loc[csv_p.prognoz.str.match(r'базовый')].reset_index(drop = True)
Ngds_pp_o = Ngds_pp.loc[csv_p.prognoz.str.match(r'оптимистичный')].reset_index(drop = True)
Ngds_pp_p = Ngds_pp.loc[csv_p.prognoz.str.match(r'пессимистичный')].reset_index(drop = True)
Ngds_pp_b[0]= 737538.7
Ngds_pp_o[0]= 737538.7
Ngds_pp_p[0]= 737538.7
Ngds_pp = Ngds_pp_b.append(Ngds_pp_o).append(Ngds_pp_p).reset_index(drop = True) 

n = Ngds/Ngds_pp/lgds * 10000

Dgds = pd.DataFrame(columns=['Dgds_atyrau'])
Dgds.Dgds_atyrau = n

Dgds.to_sql('dgds_prog_atyrau', engine, schema='public',if_exists='replace', index = True)

In [2]:
Dgds

    Dgds_atyrau
0     99.317204
1    114.561554
2    104.987120
3    105.583568
4    105.534213
5    104.772915
6    105.299572
7     97.083779
8    151.654648
9    110.831952
10   112.036742
11   116.558999
12   112.182936
13   112.949737
14    74.968199
15   102.100155
16   102.495505
17    99.885977
18   100.987202
19   101.277727
20   122.602149