In [1]:
import pandas as pd
import numpy as np
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = (xlsx['o_potato_isatai'].shift(1) + xlsx['o_grain_isatai'].shift(1) + xlsx['o_vegetables_isatai'].shift(1))
l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 0.09
l_o[0]= 0.09
l_p[0]= 0.09
l = l_b.append(l_o).append(l_p).reset_index(drop = True)
Gplg = ((xlsx['o_potato_isatai'] + xlsx['o_grain_isatai'] + xlsx['o_vegetables_isatai'])/l)

Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf = pd.DataFrame(columns=['GplgS_b','GplgS_o','GplgS_p'], index=range(12))
b=100
o=100
p=100
i=0
while i<=(len(Gplg_b)-1):
    b = ( b * Gplg_b[i])
    o = ( o * Gplg_o[i])
    p = ( p * Gplg_p[i])
    
    newdf.loc[i].GplgS_b = b
    newdf.loc[i].GplgS_o = o
    newdf.loc[i].GplgS_p = p
    i=i+1
    
GplgS_b=newdf['GplgS_b']
GplgS_o=newdf['GplgS_o']
GplgS_p=newdf['GplgS_p']

newdf

    GplgS_b  GplgS_o  GplgS_p
0   88.8889  88.8889  77.7778
1   77.7778  77.7778  66.6667
2   66.6667  66.6667  55.5556
3   55.5556  55.5556  55.5556
4   55.5556  55.5556  44.4444
5   44.4444  44.4444  44.4444
6   44.4444  44.4444  88.8889
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN