In [9]:
import pandas as pd
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = ((xlsx['o_cattle_isatai'] * xlsx['o_weight_cattle']).shift(1) + (xlsx['o_goats_isatai'] * xlsx['o_weight_goats']).shift(1) + (xlsx['o_horses_isatai']* xlsx['o_weight_horses']).shift(1) + (xlsx['o_poultry_isatai'] * xlsx['o_weight_poultry']).shift(1))
l[0] =  12217.24
l[7] =  12217.24
l[14] =  12217.24
Ganm = ((xlsx['o_cattle_isatai'] * xlsx['o_weight_cattle']) + (xlsx['o_goats_isatai'] * xlsx['o_weight_goats']) + (xlsx['o_horses_isatai']* xlsx['o_weight_horses']) + (xlsx['o_poultry_isatai'] * xlsx['o_weight_poultry']))/l * 100

Ganm_b = Ganm.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Ganm_o = Ganm.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Ganm_p = Ganm.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [10]:
import pandas as pd
import numpy as np
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = (xlsx['o_potato_isatai'].shift(1) + xlsx['o_grain_isatai'].shift(1) + xlsx['o_vegetables_isatai'].shift(1))
l[0]=0.09
l[7]=0.09
l[14]=0.09
Gplg = ((xlsx['o_potato_isatai'] + xlsx['o_grain_isatai'] + xlsx['o_vegetables_isatai'])/l)*100

Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [11]:
i=0
c=100
a=100
b=100
newdf = pd.DataFrame(columns=['largS_b','largS_o','largS_p'], index=range(12))
while i<=(len(Gplg_b)-1):
    c = (c*((((Gplg_b[i]-100) * 0.22620313902319997) + ((Ganm_b[i]-100) * 0.9509250110855416)) + 100)) /100    
    a = (a*((((Gplg_o[i]-100) * 0.22620313902319997) + ((Ganm_o[i]-100) * 0.9509250110855416)) + 100)) /100
    b = (b*((((Gplg_p[i]-100) * 0.22620313902319997) + ((Ganm_p[i]-100) * 0.9509250110855416)) + 100)) /100
   
    newdf.loc[i].largS_b = c
    newdf.loc[i].largS_o = a
    newdf.loc[i].largS_p = b
    i=i+1
    
lagrS_b=newdf['largS_b']
lagrS_o=newdf['largS_o']
lagrS_p=newdf['largS_p']

In [12]:
lagrt_bb = lagrS_b.shift(1)
lagrt_bb[0] = 100
lagr_b = lagrS_b/lagrt_bb*100

lagrt_oo = lagrS_o.shift(1)
lagrt_oo[0] = 100
lagr_o = lagrS_o/lagrt_oo*100

lagrt_pp = lagrS_p.shift(1)
lagrt_pp[0] = 100
lagr_p = lagrS_p/lagrt_pp*100

new = pd.DataFrame(columns=['lagr_b','lagr_o','lagr_p'])

new.lagr_b = lagr_b
new.lagr_o = lagr_o
new.lagr_p = lagr_p

new

     lagr_b   lagr_o   lagr_p
0   102.146  102.146   104.54
1   101.851  101.851  101.496
2   101.496  101.496  100.987
3   100.987  100.987  104.795
4   104.795  104.795  100.305
5   100.305  100.305  104.866
6   104.866  104.866  98.3983
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [14]:
new.to_csv(r'lagr(2019-2025).csv', index = False)