In [1]:
import pandas as pd
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = (xlsx['o_potato_makat'].shift(1) + xlsx['o_grain_makat'].shift(1) + xlsx['o_vegetables_makat'].shift(1))
l[0]=0.14
l[7]=0.14
l[14]=0.14
Gplg = ((xlsx['o_potato_makat'] + xlsx['o_grain_makat'] + xlsx['o_vegetables_makat'])/l)
Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf = pd.DataFrame(columns=['GplgS_b','GplgS_o','GplgS_p'], index=range(12))
b=100
o=100
p=100
i=0
while i<=(len(Gplg_b)-1):
    b = ( b * Gplg_b[i])
    o = ( o * Gplg_o[i])
    p = ( p * Gplg_p[i])
    
    newdf.loc[i].GplgS_b = b
    newdf.loc[i].GplgS_o = o
    newdf.loc[i].GplgS_p = p
    i=i+1
    
GplgS_b=newdf['GplgS_b']
GplgS_o=newdf['GplgS_o']
GplgS_p=newdf['GplgS_p']
newdf

    GplgS_b  GplgS_o  GplgS_p
0   92.8571  92.8571  92.8571
1   92.8571  92.8571  85.7143
2   85.7143  85.7143  85.7143
3   85.7143  85.7143  85.7143
4   85.7143  85.7143  78.5714
5   78.5714  78.5714  85.7143
6   85.7143  85.7143  92.8571
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN