In [9]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

csv = pd.read_sql('SELECT * FROM vrp_prognoz_kzylkoga ORDER BY index',engine)


Nagr = csv['Nagr_kzylkoga']
Ncon = csv['Ncon_kzylkoga']
Nind = csv['Nind_kzylkoga']

n = Nind + Ncon + Nagr
Ngds = pd.DataFrame(columns=['Ngds_kzylkoga'])

Ngds.Ngds_kzylkoga = n


Ngds.to_sql('ngds_prog_kzylkoga', engine, schema='public',if_exists='replace', index = True)

In [8]:
Ngds

    Ngds_kzylkoga
0    60611.664136
1    64945.371839
2    63470.491159
3    64862.441741
4    69741.352485
5    70058.266471
6    73851.393313
7    59398.924133
8    80729.729375
9    78432.891194
10   82041.637257
11  103678.710086
12  104122.752478
13  111595.811617
14   44761.316745
15   44370.944910
16   45225.792831
17   45038.245956
18   45812.816107
19   48157.624260
20   58855.928613