In [1]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_prog.csv')
poil = csv['o_oil_price']
c=csv['o_year']
voil = csv['o_oil_isatai']

l=poil.shift(1)
l_b = l.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 71.64
l_o[0]= 71.64
l_p[0]= 71.64
l = l_b.append(l_o).append(l_p).reset_index(drop = True) 
Gpoil= poil/l*100

Gpoil_b = Gpoil.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gpoil_o = Gpoil.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gpoil_p = Gpoil.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

l=voil.shift(1)
l_b = l.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 1142.60
l_o[0]= 1142.60
l_p[0]= 1142.60
l = l_b.append(l_o).append(l_p).reset_index(drop = True) 
 
Gvoil= voil/l*100

Gvoil_b = Gvoil.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gvoil_o = Gvoil.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gvoil_p = Gvoil.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [2]:
i=0
b=100
o=100
p=100
newdf = pd.DataFrame(columns=['lminS_b','lminS_o','lminS_p'], index=range(12))
while i<=len(Gpoil_b)-1:
    b = (b*((((Gpoil_b[i]-100) * 0.16738334886499334) + ((Gvoil_b[i]-100) * 0.6217741103304282)) + 100)) /100
    o = (o*((((Gpoil_o[i]-100) * 0.16738334886499334) + ((Gvoil_o[i]-100) * 0.6217741103304282)) + 100)) /100
    p = (p*((((Gpoil_p[i]-100) * 0.16738334886499334) + ((Gvoil_p[i]-100) * 0.6217741103304282)) + 100)) /100
    newdf.loc[i].lminS_b = b
    newdf.loc[i].lminS_o = o
    newdf.loc[i].lminS_p = p
    i=i+1
lminS_b = newdf['lminS_b']
lminS_o = newdf['lminS_o']
lminS_p = newdf['lminS_p']
newdf

    lminS_b  lminS_o  lminS_p
0   96.2501  96.2501  89.0921
1   93.0668  98.0912  88.6815
2   92.6006  97.5251  84.2691
3   88.5043  94.2404  80.4368
4   88.2431  101.429  79.9263
5   87.8098  101.156  80.9015
6   89.2874  103.573  97.2023
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [3]:
lmint_bb = lminS_b.shift(1)
lmint_bb[0] = 100
lmin_b = lminS_b/lmint_bb*100

lmint_oo = lminS_o.shift(1)
lmint_oo[0] = 100
lmin_o = lminS_o/lmint_oo*100

lmint_pp = lminS_p.shift(1)
lmint_pp[0] = 100
lmin_p = lminS_p/lmint_pp*100

new = pd.DataFrame(columns=['lmin_b','lmin_o','lmin_p'])

new.lmin_b = lmin_b
new.lmin_o = lmin_o
new.lmin_p = lmin_p

new

     lmin_b   lmin_o   lmin_p
0   96.2501  96.2501  89.0921
1   96.6927  101.913  99.5392
2   99.4991  99.4229  95.0244
3   95.5764  96.6319  95.4523
4   99.7049  107.628  99.3654
5    99.509   99.731   101.22
6   101.683  102.389  120.149
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [21]:
new.to_csv(r'lmin_Isatai(2019-2025).csv')