In [1]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
a = pd.read_sql('SELECT * FROM lamm_prog_kzylkoga ORDER BY index',engine)

lamm_b = a['lamm_b']
lamm_o = a['lamm_o']
lamm_p = a['lamm_p']

b=100
o=100
p=100
i=0
newdf = pd.DataFrame(columns=['lretS_b','lretS_o','lretS_p'], index=range(12))
while i<=len(lamm_b)-1:
    b = b * ((lamm_b[i]-100)* 2.273162644762424 + 100)/100
    o = o * ((lamm_o[i]-100)* 2.273162644762424 + 100)/100
    p = p * ((lamm_p[i]-100)* 2.273162644762424 + 100)/100

    newdf.loc[i].lretS_b = b
    newdf.loc[i].lretS_o = o
    newdf.loc[i].lretS_p = p
    
    i = i+1
    
lretS_b = newdf['lretS_b']
lretS_o = newdf['lretS_o']
lretS_p = newdf['lretS_p']

newdf

    lretS_b  lretS_o  lretS_p
0   78.8741  78.8741  78.8741
1      83.4  102.256  73.5689
2   76.8664  93.3663  73.3474
3   78.6205  100.841  69.1495
4   89.6103  157.349  68.1699
5   88.1745  155.894  72.0957
6   96.2755   177.45  87.0381
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [2]:
lrett_bb = lretS_b.shift(1)
lrett_bb[0] = 100
lret_b = lretS_b/lrett_bb*100

lrett_oo = lretS_o.shift(1)
lrett_oo[0] = 100
lret_o = lretS_o/lrett_oo*100

lrett_pp = lretS_p.shift(1)
lrett_pp[0] = 100
lret_p = lretS_p/lrett_pp*100

new = pd.DataFrame(columns=['lret_b','lret_o','lret_p'])

new.lret_b = lret_b
new.lret_o = lret_o
new.lret_p = lret_p

newdf.to_sql('lrets_prog_kzylkoga', engine, schema='public',if_exists='replace', index = True)
new.to_sql('lret_prog_kzylkoga', engine, schema='public',if_exists='replace', index = True)