In [3]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_prog.csv')


poil = csv['o_oil_price']
c=csv['o_year']
voil = csv['o_oil_kurmangazy']

l=poil.shift(1)
l_b = l.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 71.64
l_o[0]= 71.64
l_p[0]= 71.64
l = l_b.append(l_o).append(l_p).reset_index(drop = True) 
Gpoil= poil/l*100

Gpoil_b = Gpoil.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gpoil_o = Gpoil.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gpoil_p = Gpoil.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)


l=voil.shift(1)
l_b = l.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 45.50
l_o[0]= 45.50
l_p[0]= 45.50
l = l_b.append(l_o).append(l_p).reset_index(drop = True) 

Gvoil= voil/l*100

Gvoil_b = Gvoil.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gvoil_o = Gvoil.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gvoil_p = Gvoil.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [4]:
i=0
b=100
o=100
p=100
newdf = pd.DataFrame(columns=['lminS_b','lminS_o','lminS_p'], index=range(12))
while i<=len(Gpoil_b)-1:
    b = (b*((((Gpoil_b[i]-100) * 0.5732790704517468) + ((Gvoil_b[i]-100) * 1.4813207991810204)) + 100)) /100
    o = (o*((((Gpoil_o[i]-100) * 0.5732790704517468) + ((Gvoil_o[i]-100) * 1.4813207991810204)) + 100)) /100
    p = (p*((((Gpoil_p[i]-100) * 0.5732790704517468) + ((Gvoil_p[i]-100) * 1.4813207991810204)) + 100)) /100
    newdf.loc[i].lminS_b = b
    newdf.loc[i].lminS_o = o
    newdf.loc[i].lminS_p = p
    i=i+1
lminS_b = newdf['lminS_b']
lminS_o = newdf['lminS_o']
lminS_p = newdf['lminS_p']
newdf

    lminS_b  lminS_o  lminS_p
0   96.3512  96.3512  89.4287
1   102.118  117.958  89.3443
2   101.928  117.497  90.6939
3   104.899   124.19  101.967
4   130.388  181.787  102.407
5    131.41  184.158  103.757
6   134.586  191.703  100.018
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [5]:
lmint_bb = lminS_b.shift(1)
lmint_bb[0] = 100
lmin_b = lminS_b/lmint_bb*100

lmint_oo = lminS_o.shift(1)
lmint_oo[0] = 100
lmin_o = lminS_o/lmint_oo*100

lmint_pp = lminS_p.shift(1)
lmint_pp[0] = 100
lmin_p = lminS_p/lmint_pp*100

new = pd.DataFrame(columns=['lmin_b','lmin_o','lmin_p'])

new.lmin_b = lmin_b
new.lmin_o = lmin_o
new.lmin_p = lmin_p

new

     lmin_b   lmin_o   lmin_p
0   96.3512  96.3512  89.4287
1   105.985  122.425  99.9056
2   99.8142  99.6092  101.511
3   102.915  105.696   112.43
4   124.298  146.378  100.431
5   100.784  101.304  101.318
6   102.417  104.097  96.3965
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [7]:
new.to_csv(r'lmin(2019-2025).csv')