In [55]:
from scipy.stats.mstats import gmean
import pandas as pd
import numpy as np

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
c = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)

inf = c['o_inflation']
newdf = pd.DataFrame(columns=['Dagr_b','Dagr_o','Dagr_p'], index=range(12))

Dagr= inf * 1.0808918364508224 + 100

Dagr_b = Dagr.loc[c.o_script.str.match(r'базовый')].reset_index(drop = True)
Dagr_o = Dagr.loc[c.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Dagr_p = Dagr.loc[c.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf.Dagr_b = Dagr_b
newdf.Dagr_o = Dagr_o
newdf.Dagr_p = Dagr_p

newdf.to_sql('dagr_prog_atyrau', engine, schema='public',if_exists='replace', index = True)

In [56]:
newdf

        Dagr_b      Dagr_o      Dagr_p
0   106.485351  106.485351  108.149924
1   106.485351  106.074612  108.149924
2   106.485351  106.074612  107.069033
3   105.404459  104.993720  107.069033
4   105.404459  104.993720  107.069033
5   105.404459  104.993720  107.069033
6   105.404459  104.993720  106.485351
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN