In [1]:
import pandas as pd
import numpy as np
xlsx = pd.read_csv('vrp_ekz_prog.csv')
la = xlsx['o_year']
xlsx_f = pd.read_csv('vrp_ekz_fact.csv')

l = ((xlsx['o_cattle_atyrau'] * xlsx['o_weight_cattle']).shift(1) + (xlsx['o_goats_atyrau'] * xlsx['o_weight_goats']).shift(1) + (xlsx['o_horses_atyrau']* xlsx['o_weight_horses']).shift(1) + (xlsx['o_poultry_atyrau'] * xlsx['o_weight_poultry']).shift(1))
l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 2159.88
l_o[0]= 2159.88
l_p[0]= 2159.88
l = l_b.append(l_o).append(l_p).reset_index(drop = True)

Ganm = (((xlsx['o_cattle_atyrau'] * xlsx['o_weight_cattle']) + (xlsx['o_goats_atyrau'] * xlsx['o_weight_goats']) + (xlsx['o_horses_atyrau']* xlsx['o_weight_horses']) + (xlsx['o_poultry_atyrau'] * xlsx['o_weight_poultry']))/ l *100)

Ganm_b = Ganm.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Ganm_o = Ganm.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Ganm_p = Ganm.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [2]:
import pandas as pd
import numpy as np
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = (xlsx['o_potato_atyrau'].shift(1) + xlsx['o_grain_atyrau'].shift(1) + xlsx['o_vegetables_atyrau'].shift(1))

l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 44.15
l_o[0]= 44.15
l_p[0]= 44.15
l = l_b.append(l_o).append(l_p).reset_index(drop = True)

Gplg = (xlsx['o_potato_atyrau'] + xlsx['o_grain_atyrau'] + xlsx['o_vegetables_atyrau'])/l*100

Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [3]:
i=0
c=100
a=100
b=100
newdf = pd.DataFrame(columns=['largS_b','largS_o','largS_p'], index=range(12))
while i<=(len(Gplg_b)-1):
    c = (c*((((Gplg_b[i]-100) * 0.6019039657277139) + ((Ganm_b[i]-100) * 0.11913138742835966)) + 100)) /100    
    a = (a*((((Gplg_o[i]-100) * 0.6019039657277139) + ((Ganm_o[i]-100) * 0.11913138742835966)) + 100)) /100
    b = (b*((((Gplg_p[i]-100) * 0.6019039657277139) + ((Ganm_p[i]-100) * 0.11913138742835966)) + 100)) /100
   
    newdf.loc[i].largS_b = c
    newdf.loc[i].largS_o = a
    newdf.loc[i].largS_p = b
    i=i+1
    
lagrS_b=newdf['largS_b']
lagrS_o=newdf['largS_o']
lagrS_p=newdf['largS_p']

newdf

    largS_b  largS_o  largS_p
0   105.089  105.089  110.575
1   110.443  110.443  116.238
2   116.098  116.098  122.169
3   122.022  122.022  128.426
4   128.272  128.272  135.015
5   134.853  134.853  141.945
6   141.775  141.775  108.044
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [4]:
lagrt_bb = lagrS_b.shift(1)
lagrt_bb[0] = 100
lagr_b = lagrS_b/lagrt_bb*100

lagrt_oo = lagrS_o.shift(1)
lagrt_oo[0] = 100
lagr_o = lagrS_o/lagrt_oo*100

lagrt_pp = lagrS_p.shift(1)
lagrt_pp[0] = 100
lagr_p = lagrS_p/lagrt_pp*100

new = pd.DataFrame(columns=['lagr_b','lagr_o','lagr_p'])

new.lagr_b = lagr_b
new.lagr_o = lagr_o
new.lagr_p = lagr_p

new

     lagr_b   lagr_o   lagr_p
0   105.089  105.089  110.575
1   105.094  105.094  105.121
2   105.121  105.121  105.103
3   105.103  105.103  105.121
4   105.121  105.121  105.131
5   105.131  105.131  105.133
6   105.133  105.133  76.1167
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [144]:
new.to_csv (r'lagr_Atyrau(2019-2025).csv', index = False)