In [21]:
import pandas as pd
import numpy as np
import psycopg2
import io
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
csv_file = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)

Dagr = pd.read_sql("SELECT * FROM dagr_prog_atyrau",engine)
lagr = pd.read_sql("SELECT * FROM lagr_prog_atyrau",engine)

Dagr_b = Dagr['Dagr_b']
Dagr_o = Dagr['Dagr_o']
Dagr_p = Dagr['Dagr_p']

lagr_b = lagr['lagr_b']
lagr_o = lagr['lagr_o']
lagr_p = lagr['lagr_p']

newdf = pd.DataFrame(columns=['Nagr_b','Nagr_o','Nagr_p'], index=range(12))


b = 12261.7
o = 12261.7
p = 12261.7

i = 0

while i<=len(lagr_b)-1:
    b = b * lagr_b[i] * Dagr_b[i]/10000
    o = o * lagr_o[i] * Dagr_o[i]/10000
    p = p * lagr_p[i] * Dagr_p[i]/10000
    
    newdf.loc[i].Nagr_b = b    
    newdf.loc[i].Nagr_o = o    
    newdf.loc[i].Nagr_p = p    
    i=i+1

newdf.to_sql('nagr_prog_atyrau', engine, schema='public',if_exists='replace', index = True)

In [22]:
newdf

     Nagr_b   Nagr_o   Nagr_p
0   13721.4  13721.4  14663.4
1   15355.6  15296.4  16670.5
2   17188.8  17056.5  18759.8
3   19042.3    18822  21114.6
4   21099.3    20774  23767.1
5   23380.7  22930.5  26753.4
6   25909.3  25311.4  21684.5
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN