In [16]:
import pandas as pd
import numpy as np
csv_file = pd.read_csv('vrp_ekz_prog.csv')
Dagr = pd.read_csv('Dagr(2019-2025).csv')
lagr = pd.read_csv('lagr(2019-2025).csv')

Dagr_b = Dagr['Dagr_b']
Dagr_o = Dagr['Dagr_o']
Dagr_p = Dagr['Dagr_p']

lagr_b = lagr['lagr_b']
lagr_o = lagr['lagr_o']
lagr_p = lagr['lagr_p']


newdf = pd.DataFrame(columns=['Nagr_b','Nagr_o','Nagr_p'], index=range(12))

b = 12261.7
o = 12261.7
p = 12261.7
i=0

while i<=len(lagr_b)-1:
    b = b * lagr_b[i] * Dagr_b[i]/10000
    o = o * lagr_o[i] * Dagr_o[i]/10000
    p = p * lagr_p[i] * Dagr_p[i]/10000
    
    newdf.loc[i].Nagr_b = b    
    newdf.loc[i].Nagr_o = o    
    newdf.loc[i].Nagr_p = p    
    i=i+1
newdf

     Nagr_b   Nagr_o   Nagr_p
0   13721.4  13721.4    14674
1   15355.6  15296.4  16682.5
2   17188.8  17056.5  18773.3
3   19042.3    18822  21129.8
4   21099.3    20774  23784.2
5   23380.7  22930.5  26772.7
6   25909.3  25311.4  21700.1
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN