In [1]:
import pandas as pd
import numpy as np
csv_file = pd.read_csv('vrp_ekz_prog.csv')
Dmin = pd.read_csv('Dmin(2019-2025).csv')
lmin = pd.read_csv('lmin(2019-2025).csv')

Dmin_b = Dmin['Dmin_b']
Dmin_o = Dmin['Dmin_o']
Dmin_p = Dmin['Dmin_p']

lmin_b = lmin['lmin_b']
lmin_o = lmin['lmin_o']
lmin_p = lmin['lmin_p']


newdf = pd.DataFrame(columns=['Nmin_b','Nmin_o','Nmin_p'], index=range(12))

b = 52144.0
o = 52144.0
p = 52144.0
i=0

while i<=len(lmin_b)-1:
    b = b * lmin_b[i] * Dmin_b[i]/10000
    o = o * lmin_o[i] * Dmin_o[i]/10000
    p = p * lmin_p[i] * Dmin_p[i]/10000
    
    newdf.loc[i].Nmin_b = b    
    newdf.loc[i].Nmin_o = o    
    newdf.loc[i].Nmin_p = p    
    i=i+1
newdf

     Nmin_b   Nmin_o   Nmin_p
0   45593.4  44439.2  30402.3
1   48867.5  63652.9  29056.6
2   46653.4    60642  28919.6
3   47179.5  63184.5  27736.8
4   50904.8  82281.3  27262.8
5   50232.3  81683.3  28400.7
6   52954.2  87662.6  37700.6
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [3]:
newdf.to_csv(r'Nmin_Kzylkoga(2019-2025).csv')