In [4]:
import pandas as pd

csv = pd.read_csv('Dmin(2019-2025).csv')
Dmin=csv['0']

Dman = (Dmin-100)*1.0415526245421316+100

Dman

0      98.590458
1     104.160655
2     100.000000
3     100.000000
4     100.000000
5     100.000000
6     100.000000
7      96.003104
8     123.804871
9     100.000000
10    100.000000
11    100.000000
12    100.000000
13    100.000000
14     70.361487
15    100.000000
16    100.000000
17    100.000000
18    100.000000
19    100.000000
20    114.621709
Name: 0, dtype: float64

In [5]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_fact.csv')
c = pd.read_csv('vrp_ekz_prog.csv')

q = pd.read_csv('lagr(2019-2025).csv')
w = pd.read_csv('lmin(2019-2025).csv')
d = pd.read_csv('Dmin(2019-2025).csv')
e = pd.read_csv('Nagrt(2019-2025).csv')
r = pd.read_csv('Nmin(2019-2025).csv')

Dmin = d['0']

lagr = q['c1']
lmin = w['c1']

Nagr = csv['o_prod_agro_kurmangazy']
Nmin = csv['o_prod_mining_kurmangazy']
lman= csv['o_ifo_man_kurmangazy']
Nman = csv['o_prod_man_kurmangazy']

Nmin_p = r['c1']
Nagr_p = e['c1']


lamml_2019 = (lagr[0]*Nagr[18]+lmin[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])

lmanS_2019 = 100*((lamml_2019 - 100) * 0.757888035070085 + 100)/100
lman_2019 = lmanS_2019/100 * 100

Nman_2019=(Nman[18]*lman_2019*Dman[0])/10000


lamml_2020 = (lagr[1]*Nagr_p[0]+lmin[1]*Nmin_p[0]+lman_2019*Nman[18])/(Nagr_p[0]+Nmin_p[0]+ Nman[18])
lmanS_2020 = lmanS_2019 *((lamml_2020 - 100) * 0.757888035070085 + 100)/100
lman_2020 = lmanS_2020/lmanS_2019 * 100

Nman_2020=(Nman_2019*lman_2020*Dman[1])/10000
Nman

0       17
1       15
2      238
3      221
4      233
5      291
6      343
7      449
8      772
9     1106
10    1572
11    2043
12    3593
13    2805
14    1424
15    1414
16    2177
17    1521
18    1525
Name: o_prod_man_kurmangazy, dtype: int64

In [18]:
i=0

newdf = pd.DataFrame(columns=['Nman','lman','lmanS', 'lamml'], index=range(7))

while i<=4:
    lamml_2020 = (lagr[i+2]*Nagr_p[i+1]+lmin[i+2]*Nmin_p[i+1]+lman_2020*Nman_2019)/(Nagr_p[i+1]+Nmin_p[i+1]+Nman_2019)
    
    lmanS_2021 = lmanS_2020*((lamml_2020 - 100) * 0.757888035070085 + 100)/100        
    
    Nman_2019 = Nman_2019*lman_2020*Dman[i+1]/10000
    
    lman_2020 = lmanS_2021/lmanS_2020 * 100
    lmanS_2020=lmanS_2021
    
    newdf.loc[i+1].Nman = Nman_2019
    newdf.loc[i+2].lman = lman_2020
    newdf.loc[i+2].lmanS = lmanS_2021
    newdf.loc[i+2].lamml = lamml_2020  
    i=i+1

n=(4392.03*123.196*100.000000)/10000

Nma = newdf['Nman']
Nma[0] = 1524.7554538502693
Nma[6] = n
Nman = Nma

lma = newdf['lman']
lma[0] = 101.41342910471003
lma[1] = 104.30241896040164
lman = lma

lmaS = newdf['lmanS']
lmaS[0] = 101.41342910471003
lmaS[1] = 105.77665970690455
lmanS = lmaS

lamm = newdf['lamml']
lamm[0] = 101.86495767093001
lamm[1] = 105.67685299320469
lamml = lamm

newdf

      Nman     lman    lmanS    lamml
0  1524.76  101.413  101.413  101.865
1  1656.53  104.302  105.777  105.677
2  1708.74  103.152  109.111  104.159
3  1774.46  103.846  113.307  105.074
4  1914.78  107.908  122.268  110.435
5  1984.77  103.655  126.737  104.823
6  5410.81  103.855  131.622  105.086

In [21]:
Nman

0    1524.76
1    1656.53
2    1708.74
3    1774.46
4    1914.78
5    1984.77
6    5410.81
Name: Nman, dtype: object

In [23]:
lman.to_csv(r'lman_Kurmangazy(2019-2025).csv', index = False)