In [2]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_fact.csv')

lwtr = csv['o_ifo_water_zhylyoi']
lelc = csv['o_ifo_energo_zhylyoi']
lman = csv['o_ifo_man_zhylyoi']
lmin = csv['o_ifo_mining_zhylyoi']

Nwtr = csv['o_prod_water_zhylyoi']
Nelc = csv['o_prod_energo_zhylyoi']
Nman = csv['o_prod_man_zhylyoi']
Nmin = csv['o_prod_mining_zhylyoi']

Nind = Nmin+Nman+Nelc+Nwtr

newdf = pd.DataFrame(columns=['Dind','lind','Nind'], index=range(19))
i=1
while i<=18:    
    
    lind = (lmin[i]*Nmin[i-1]+lman[i]*Nman[i-1]+lelc[i]*Nelc[i-1]+lwtr[i]*Nwtr[i-1])/Nind[i-1]    
    Dind=(Nind[i]/Nind[i-1]/lind)*10000
    
    newdf.loc[i].Dind = Dind
    newdf.loc[i].lind = lind
    i= i+1
    
lind = newdf['lind']
Dind = newdf['Dind']
newdf.Nind = Nind
Nind = newdf['Nind']

newdf

       Dind     lind     Nind
0       NaN      NaN   343391
1   87.2221  123.781   370740
2   116.273  104.385   449974
3   116.881  97.5438   513014
4   119.835  107.885   663244
5   135.044  100.056   896170
6   113.911  98.9194  1009803
7   111.125  105.431  1183086
8   128.562  123.638  1880533
9   80.2542  127.416  1922978
10  126.697  114.696  2794402
11   138.63  99.8296  3867274
12  101.443  95.1823  3734078
13   98.994  112.102  4143874
14  107.013  99.3735  4406684
15   68.294  101.244  3046952
16  126.453  102.721  3957809
17  114.636  105.306  4777775
18  131.744  100.398  6319477