In [2]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

csv_inder_n =    pd.read_sql('SELECT * FROM vrp_prognoz_inder ORDER BY index',engine) 
csv_isatai_n =   pd.read_sql('SELECT * FROM vrp_prognoz_isatai ORDER BY index',engine)
csv_atyrau_n =   pd.read_sql('SELECT * FROM vrp_prognoz_atyrau ORDER BY index',engine)
csv_kurmangazy_n=pd.read_sql('SELECT * FROM vrp_prognoz_kurmangazy ORDER BY index',engine)
csv_kzylkoga_n = pd.read_sql('SELECT * FROM vrp_prognoz_kzylkoga ORDER BY index',engine)
csv_makat_n =    pd.read_sql('SELECT * FROM vrp_prognoz_makat ORDER BY index',engine) 
csv_makhambet_n =pd.read_sql('SELECT * FROM vrp_prognoz_makhambet ORDER BY index',engine) 
csv_zhylyoi_n =  pd.read_sql('SELECT * FROM vrp_prognoz_zhylyoi ORDER BY index',engine)

inder =         csv_inder_n['Nagr']
isatai =       csv_isatai_n['Nagr']
atyrau =       csv_atyrau_n['Nagr']
kurmangazy=csv_kurmangazy_n['Nagr'] 
kzylkoga =   csv_kzylkoga_n['Nagr'] 
makat=          csv_makat_n['Nagr']
makhambet=  csv_makhambet_n['Nagr']
zhylyoi =     csv_zhylyoi_n['Nagr']



Nagr = (inder+isatai+atyrau+kurmangazy+kzylkoga+makat+makhambet+zhylyoi)

Nagr.to_sql('nagr_ao', engine, schema='public',if_exists='replace', index = True)

0      75846.538062
1      84243.229552
2      93549.519338
3     102981.762073
4     113753.577681
5     125421.064022
6     138730.037229
7      75846.538062
8      83927.883061
9      92850.389467
10    101825.589362
11    112051.089358
12    123076.571411
13    135621.837672
14     80497.726245
15     90744.192655
16    101421.894854
17    113746.173868
18    127332.063948
19    143001.053378
20    116127.547478
Name: Nagr, dtype: float64