In [1]:
import pandas as pd

import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')
csv = pd.read_sql("SELECT * FROM vrp_ekz_prog ORDER BY id",engine)

poil = csv['o_oil_price']
c=csv['o_year']
voil = csv['o_oil_makat']

l=poil.shift(1)
l_b = l.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 71.64
l_o[0]= 71.64
l_p[0]= 71.64
l = l_b.append(l_o).append(l_p).reset_index(drop = True) 
Gpoil= poil/l*100

Gpoil_b = Gpoil.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gpoil_o = Gpoil.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gpoil_p = Gpoil.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)


l=voil.shift(1)
l_b = l.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]= 510.60
l_o[0]= 510.60
l_p[0]= 510.60
l = l_b.append(l_o).append(l_p).reset_index(drop = True) 
 
Gvoil= voil/l*100

Gvoil_b = Gvoil.loc[csv.o_script.str.match(r'базовый')].reset_index(drop = True)
Gvoil_o = Gvoil.loc[csv.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gvoil_p = Gvoil.loc[csv.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

In [2]:

i=0
b=100
o=100
p=100
newdf = pd.DataFrame(columns=['lminS_b','lminS_o','lminS_p'], index=range(12))
while i<=len(Gpoil_b)-1:
    b = (b*((((Gpoil_b[i]-100) * 0.3419433876416064) + ((Gvoil_b[i]-100) * 0.9575797763187188)) + 100)) /100
    o = (o*((((Gpoil_o[i]-100) * 0.3419433876416064) + ((Gvoil_o[i]-100) * 0.9575797763187188)) + 100)) /100
    p = (p*((((Gpoil_p[i]-100) * 0.3419433876416064) + ((Gvoil_p[i]-100) * 0.9575797763187188)) + 100)) /100
    newdf.loc[i].lminS_b = b
    newdf.loc[i].lminS_o = o
    newdf.loc[i].lminS_p = p
    i=i+1
lminS_b = newdf['lminS_b']
lminS_o = newdf['lminS_o']
lminS_p = newdf['lminS_p']
newdf

    lminS_b  lminS_o  lminS_p
0   102.107  102.107   94.102
1   102.019  112.147   91.649
2   99.2968  109.027  88.5317
3   96.8037  108.147  79.9933
4   93.6191  117.393  75.6147
5   88.6927  111.598  76.2406
6   90.0517  114.508  102.307
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN

In [3]:
lmint_bb = lminS_b.shift(1)
lmint_bb[0] = 100
lmin_b = lminS_b/lmint_bb*100

lmint_oo = lminS_o.shift(1)
lmint_oo[0] = 100
lmin_o = lminS_o/lmint_oo*100

lmint_pp = lminS_p.shift(1)
lmint_pp[0] = 100
lmin_p = lminS_p/lmint_pp*100

new = pd.DataFrame(columns=['lmin_b','lmin_o','lmin_p'])

new.lmin_b = lmin_b
new.lmin_o = lmin_o
new.lmin_p = lmin_p

new.to_sql('lmin_prog_makat', engine, schema='public',if_exists='replace', index = True)
newdf.to_sql('lmins_prog_makat', engine, schema='public',if_exists='replace', index = True)