In [5]:
import pandas as pd 
import psycopg2
import io
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:2020@localhost:5432/testdb')

xlsx = pd.read_sql('SELECT * FROM vrp_ekz_prog ORDER BY id',engine)
lgt_csv = pd.read_sql('SELECT * FROM lgt_prog_ao ORDER BY index',engine)

lgt = lgt_csv['lgt_ao'] 

limit = len(xlsx.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True))-1
limit_o = len(xlsx.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True))
limit_p = limit_o+limit_o

i=0
b=100
o=100
p=100
newdf = pd.DataFrame(columns=['c1'], index=range(21))
while i<= limit:
    b = (b*((lgt[i]-100) *         1.4288808951077208 + 100))/100
    o = (o*((lgt[i+limit_o]-100) * 1.4288808951077208 + 100))/100
    p = (p*((lgt[i+limit_p]-100) * 1.4288808951077208 + 100))/100
    newdf.loc[i].c1 = b
    newdf.loc[i+limit_o].c1 = o
    newdf.loc[i+limit_p].c1 = p
    i=i+1 

ltrnS=newdf['c1']
l = newdf['c1']

trn_l = l.shift(1)
trn_l_b =trn_l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
trn_l_o =trn_l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
trn_l_p =trn_l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
trn_l_b[0]= 100
trn_l_o[0]= 100
trn_l_p[0]= 100
trn_l = trn_l_b.append(trn_l_o).append(trn_l_p).reset_index(drop = True)

ltrn = ltrnS/trn_l*100

df = pd.DataFrame(columns = ['limt_ao','limtS_ao'])
df.limt_ao = ltrn
df.limtS_ao = ltrnS

limt=df['limt_ao'] 
limtS=df['limtS_ao'] 

limt.to_sql('limt_prog_ao', engine, schema='public',if_exists='replace', index = True)
limtS.to_sql('limts_prog_ao', engine, schema='public',if_exists='replace', index = True)

In [6]:
df

    limt_ao limtS_ao
0   105.515  105.515
1   101.973  107.597
2   100.582  108.223
3   100.398  108.655
4   100.589  109.295
5    98.821  108.006
6   99.2215  107.165
7   105.514  105.514
8    90.157  95.1282
9   99.6187  94.7655
10  100.546  95.2829
11  107.102   102.05
12  98.6979  100.721
13  99.5121  100.229
14  104.869  104.869
15  101.315  106.248
16   100.48  106.758
17  98.1051  104.735
18  99.2887   103.99
19  99.4798  103.449
20  85.1734  88.1108

In [12]:
ltrnS

0     105.547
1     107.657
2     108.285
3     108.719
4     109.358
5     108.065
6     107.218
7     105.546
8     95.1981
9     94.8347
10    95.3569
11     102.14
12    100.809
13    100.313
14    104.912
15    106.295
16    106.808
17    104.778
18     104.03
19    103.484
20    88.1074
Name: c1, dtype: object