In [6]:
import pandas as pd

csv = pd.read_csv('Dmin(2019-2025).csv')
Dmin=csv['0']

Dman = (Dmin-100)*1.0418832914282319+100

Dman

0      98.616890
1     104.082633
2     100.000000
3     100.000000
4     100.000000
5     100.000000
6     100.000000
7      96.078055
8     123.358471
9     100.000000
10    100.000000
11    100.000000
12    100.000000
13    100.000000
14     70.917282
15    100.000000
16    100.000000
17    100.000000
18    100.000000
19    100.000000
20    114.347516
Name: 0, dtype: float64

In [7]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_fact.csv')
c = pd.read_csv('vrp_ekz_prog.csv')

q = pd.read_csv('lagr(2019-2025).csv')
w = pd.read_csv('lmin(2019-2025).csv')
d = pd.read_csv('Dmin(2019-2025).csv')
e = pd.read_csv('Nagrt(2019-2025).csv')
r = pd.read_csv('Nmin(2019-2025).csv')

Dmin = d['0']

lagr = q['c1']
lmin = w['c1']

Nagr = csv['o_prod_agro_makat']
Nmin = csv['o_prod_mining_makat']
lman= csv['o_ifo_man_makat']
Nman = csv['o_prod_man_makat']

Nmin_p = r['c1']
Nagr_p = e['c1']


lamml_2019 = (lagr[0]*Nagr[18]+lmin[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])

lmanS_2019 = 100*((lamml_2019 - 100) * (-1.1495036064389859) + 100)/100
lman_2019 = lmanS_2019/100 * 100

Nman_2019=(Nman[18]*lman_2019*Dman[0])/10000


lamml_2020 = (lagr[1]*Nagr_p[0]+lmin[1]*Nmin_p[0]+lman_2019*Nman[18])/(Nagr_p[0]+Nmin_p[0]+ Nman[18])
lmanS_2020 = lmanS_2019 *((lamml_2020 - 100) * (-1.1495036064389859) + 100)/100
lman_2020 = lmanS_2020/lmanS_2019 * 100

Nman_2020=(Nman_2019*lman_2020*Dman[1])/10000
Nman_2019

826.9498061922515

In [8]:
i=0

newdf = pd.DataFrame(columns=['Nman','lman','lmanS', 'lamml'], index=range(7))

while i<=4:
    lamml_2020 = (lagr[i+2]*Nagr_p[i+1]+lmin[i+2]*Nmin_p[i+1]+lman_2020*Nman_2019)/(Nagr_p[i+1]+Nmin_p[i+1]+Nman_2019)
    
    lmanS_2021 = lmanS_2020*((lamml_2020 - 100) * (-1.1495036064389859) + 100)/100        
    
    Nman_2019 = Nman_2019*lman_2020*Dman[i+1]/10000
    
    lman_2020 = lmanS_2021/lmanS_2020 * 100
    lmanS_2020=lmanS_2021
    
    newdf.loc[i+1].Nman = Nman_2019
    newdf.loc[i+2].lman = lman_2020
    newdf.loc[i+2].lmanS = lmanS_2021
    newdf.loc[i+2].lamml = lamml_2020  
    i=i+1
lma = newdf['lman']
lma[0] = 97.84688944257675
lma[1] = 100.17562737360714
lman = lma

lmaS = newdf['lmanS']
lmaS[0] = 97.84688944257675
lmaS[1] = 98.01873536466104
lmanS = lmaS

lamm = newdf['lamml']
lamm[0] = 101.8730785578771
lamm[1] = 99.84721459539287
lamml = lamm

Nma = newdf['Nman']
Nma[0] = 826.9498061922515
n=(998.182*	97.7122*Dman[6])/10000
Nma[6] = n
Nman = Nma

newdf

      Nman     lman    lmanS    lamml
0   826.95  97.8469  97.8469  101.873
1  862.222  100.176  98.0187  99.8472
2  889.372  103.149  101.105  97.2607
3  912.271  102.575  103.708  97.7602
4  943.403  103.413  107.247  97.0312
5  998.182  105.807  113.475  94.9487
6  975.346  97.7122  110.879   101.99

In [45]:
newdf.to_csv(r'lman, Nman(2019-2025).csv', index = False)