In [2]:
import pandas as pd
xlsx = pd.read_csv('vrp_ekz_prog.csv')
l = ((xlsx['o_potato_makhambet'].shift(1) + xlsx['o_grain_makhambet'].shift(1) + xlsx['o_vegetables_makhambet'].shift(1)))
l_b = l.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
l_o = l.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
l_p = l.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)
l_b[0]=30.88
l_o[0]=30.88
l_p[0]=30.88
l = l_b.append(l_o).append(l_p).reset_index(drop = True)

Gplg = ((xlsx['o_potato_makhambet'] + xlsx['o_grain_makhambet'] + xlsx['o_vegetables_makhambet'])/l)

Gplg_b = Gplg.loc[xlsx.o_script.str.match(r'базовый')].reset_index(drop = True)
Gplg_o = Gplg.loc[xlsx.o_script.str.match(r'оптимистичный')].reset_index(drop = True)
Gplg_p = Gplg.loc[xlsx.o_script.str.match(r'пессимистичный')].reset_index(drop = True)

newdf = pd.DataFrame(columns=['GplgS_b','GplgS_o','GplgS_p'], index=range(12))
b=100
o=100
p=100
i=0
while i<=(len(Gplg_b)-1):
    b = ( b * Gplg_b[i])
    o = ( o * Gplg_o[i])
    p = ( p * Gplg_p[i])
    
    newdf.loc[i].GplgS_b = b
    newdf.loc[i].GplgS_o = o
    newdf.loc[i].GplgS_p = p
    i=i+1
    
GplgS_b=newdf['GplgS_b']
GplgS_o=newdf['GplgS_o']
GplgS_p=newdf['GplgS_p']
newdf

    GplgS_b  GplgS_o  GplgS_p
0   105.019  105.019  111.917
1   111.917  111.917  119.268
2   119.268  119.268  127.137
3   127.137  127.137   135.46
4    135.46   135.46  144.398
5   144.398  144.398  153.951
6   153.951  153.951  105.019
7       NaN      NaN      NaN
8       NaN      NaN      NaN
9       NaN      NaN      NaN
10      NaN      NaN      NaN
11      NaN      NaN      NaN