In [1]:
import pandas as pd

csv = pd.read_csv('Dmin(2019-2025).csv')
Dmin=csv['0']

Dman = (Dmin-100)*1.1015008204018604+100

Dman

0      98.587130
1     104.170478
2     100.000000
3     100.000000
4     100.000000
5     100.000000
6     100.000000
7      95.993668
8     123.861068
9     100.000000
10    100.000000
11    100.000000
12    100.000000
13    100.000000
14     70.291518
15    100.000000
16    100.000000
17    100.000000
18    100.000000
19    100.000000
20    114.656227
Name: 0, dtype: float64

In [2]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_fact.csv')
c = pd.read_csv('vrp_ekz_prog.csv')

q = pd.read_csv('lagrt(2019-2025).csv')
w = pd.read_csv('lmin(2019-2025).csv')
d = pd.read_csv('Dmin(2019-2025).csv')
e = pd.read_csv('Nagr(2019-2025).csv')
r = pd.read_csv('Nmin(2019-2025).csv')

Nmin_p = r['c1']
Nagr_p = e['c1']

Dmin = d['0']

lagr = q['c1']
lmin = w['c1']

Nagr = csv['o_prod_agro_atyrau']
Nmin = csv['o_prod_mining_atyrau']
lman= csv['o_ifo_man_atyrau']
Nman = csv['o_prod_man_atyrau']

year = c['o_year']

lamml_2019 = (lagr[0]*Nagr[18]+lmin[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])

lmanS_2019 = 100*((lamml_2019 - 100) * 0.7531100122842695 + 100)/100
lman_2019 = lmanS_2019/100 * 100

Nman_2019=(Nman[18]*lman_2019*Dman[0])/10000


lamml_2020 = (lagr[1]*Nagr_p[0]+lmin[1]*Nmin_p[0]+lman_2019*Nman[18])/(Nagr_p[0]+Nmin_p[0]+ Nman[18])
lmanS_2020 = lmanS_2019 *((lamml_2020 - 100) * 0.7531100122842695 + 100)/100
lman_2020 = lmanS_2020/lmanS_2019 * 100

Nman_2020=(Nman_2019*lman_2020*Dmin[1])/10000

Nman_2019

271391.8920366358

In [3]:
i=0
newdf = pd.DataFrame(columns=['Nman','lman','lmanS', 'lamml','year'], index=range(21))

while i<=18:
    lamml_2020 = (lagr[i+2]*Nagr_p[i+1]+lmin[i+2]*Nmin_p[i+1]+lman_2020*Nman_2019)/(Nagr_p[i+1]+Nmin_p[i+1]+Nman_2019)
    
    lmanS_2021 = lmanS_2020*((lamml_2020 - 100) * 0.8964035297804896 + 100)/100        
    
    Nman_2019 = Nman_2019*lman_2020*Dman[i+1]/10000
    
    lman_2020 = lmanS_2021/lmanS_2020 * 100
    lmanS_2020=lmanS_2021
    
    newdf.loc[i+1].Nman = Nman_2019
    newdf.loc[i+2].lman = lman_2020
    newdf.loc[i+2].lmanS = lmanS_2021
    newdf.loc[i+2].lamml = lamml_2020  
    i=i+1
    
newdf.year = year

n=(250061*97.1913*Dmin[20])/10000

Nma = newdf['Nman']
Nma[0] = 271391.8920366358
Nma[20] = n
Nman = Nma

lma = newdf['lman']
lma[0] = 104.78641880422563
lma[1] = 106.68701254175939
lman = lma

lmaS = newdf['lmanS']
lmaS[0] = 104.78641880422563
lmaS[1] = 111.79349977172471
lmanS = lmaS

lamm = newdf['lamml']
lamm[0] = 106.35553734003332
lamm[1] = 108.87919750459419
lamml = lamm

newdf

C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\HP\anaconda3\lib\site-packages\ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Nman     lman    lmanS    lamml  year
0   271392  104.786  104.786  106.356  2019
1   301615  106.687  111.793  108.879  2020
2   309409  102.584  114.682  102.883  2021
3   313807  101.422  116.312  101.586  2022
4   316044  100.713  117.141  100.795  2023
5   315103  99.7023  116.793  99.6679  2024
6   315210  100.034  116.833  100.038  2025
7   286717  94.7569  110.707  94.1509  2019
8   371565  104.628   115.83  105.162  2020
9   377589  101.621  117.708  101.809  2021
10  384247  101.763  119.783  101.967  2022
11  406499  105.791   126.72   106.46  2023
12  413746  101.783  128.979  101.989  2024
13  419205  101.319  130.681  101.472  2025
14  273879  92.9457  121.462  92.1304  2020
15  264555  96.5959  117.328  96.2025  2021
16  261349   98.788  115.906  98.6479  2022
17  254393  97.3384  112.821  97.0307  2023
18  250706  98.5506  111.185   98.383  2024
19  249713  99.6042  110.745  99.5585  2025
20  275375  97.1901  107.633  96.8654  2019

In [4]:
lman

0     104.786
1     106.687
2     102.584
3     101.422
4     100.713
5     99.7023
6     100.034
7     94.7569
8     104.628
9     101.621
10    101.763
11    105.791
12    101.783
13    101.319
14    92.9457
15    96.5959
16     98.788
17    97.3384
18    98.5506
19    99.6042
20    97.1901
Name: lman, dtype: object

In [5]:
newdf.to_csv(r'lman, Nman(2019-2025).csv', index = False)