In [7]:
import pandas as pd

csv = pd.read_csv('Dmin(2019-2025).csv')
Dmin=csv['0']

Dman = (Dmin-100)*0.8857401044066932+100

Dman

0      98.872422
1     103.328362
2     100.000000
3     100.000000
4     100.000000
5     100.000000
6     100.000000
7      96.802639
8     119.042965
9     100.000000
10    100.000000
11    100.000000
12    100.000000
13    100.000000
14     76.290350
15    100.000000
16    100.000000
17    100.000000
18    100.000000
19    100.000000
20    111.696795
Name: 0, dtype: float64

In [8]:
import pandas as pd
csv = pd.read_csv('vrp_ekz_fact.csv')
c = pd.read_csv('vrp_ekz_prog.csv')

q = pd.read_csv('lagr(2019-2025).csv')
w = pd.read_csv('lmin(2019-2025).csv')
d = pd.read_csv('Dmin(2019-2025).csv')
e = pd.read_csv('Nagrt(2019-2025).csv')
r = pd.read_csv('Nmin(2019-2025).csv')

Dmin = d['0']

lagr = q['c1']
lmin = w['c1']

Nagr = csv['o_prod_agro_makhambet']
Nmin = csv['o_prod_mining_makhambet']
lman= csv['o_ifo_man_makhambet']
Nman = csv['o_prod_man_makhambet']

Nmin_p = r['c1']
Nagr_p = e['c1']


lamml_2019 = (lagr[0]*Nagr[18]+lmin[0]*Nmin[18]+lman[18]*Nman[17])/(Nagr[18]+Nmin[18]+Nman[17])

lmanS_2019 = 100*((lamml_2019 - 100) * (0.8382108953671523) + 100)/100
lman_2019 = lmanS_2019/100 * 100

Nman_2019=(Nman[18]*lman_2019*Dman[0])/10000


lamml_2020 = (lagr[1]*Nagr_p[0]+lmin[1]*Nmin_p[0]+lman_2019*Nman[18])/(Nagr_p[0]+Nmin_p[0]+ Nman[18])
lmanS_2020 = lmanS_2019 *((lamml_2020 - 100) * (0.8382108953671523) + 100)/100
lman_2020 = lmanS_2020/lmanS_2019 * 100

Nman_2020=(Nman_2019*lman_2020*Dman[1])/10000

Nman_2019

335.81536876090524

In [9]:
i=0

newdf = pd.DataFrame(columns=['Nman','lman','lmanS', 'lamml'], index=range(7))

while i<=4:
    lamml_2020 = (lagr[i+2]*Nagr_p[i+1]+lmin[i+2]*Nmin_p[i+1]+lman_2020*Nman_2019)/(Nagr_p[i+1]+Nmin_p[i+1]+Nman_2019)
    
    lmanS_2021 = lmanS_2020*((lamml_2020 - 100) * (0.8382108953671523) + 100)/100        
    
    Nman_2019 = Nman_2019*lman_2020*Dman[i+1]/10000
    
    lman_2020 = lmanS_2021/lmanS_2020 * 100
    lmanS_2020=lmanS_2021
    
    newdf.loc[i+1].Nman = Nman_2019
    newdf.loc[i+2].lman = lman_2020
    newdf.loc[i+2].lmanS = lmanS_2021
    newdf.loc[i+2].lamml = lamml_2020  
    i=i+1
lma = newdf['lman']
lma[0] = 102.92276792174557
lma[1] = 105.23503206149431
lman = lma

lmaS = newdf['lmanS']
lmaS[0] = 102.92276792174557
lmaS[1] = 108.31080782102634
lmanS = lmaS

lamm = newdf['lamml']
lamm[0] = 103.48691234855083
lamm[1] = 106.24548319573114
lamml = lamm

Nma = newdf['Nman']
Nma[0] = 335.81536876090524

n=(447.773*104.995*Dman[6])/10000
Nma[6] = n
Nman = Nma

newdf

      Nman     lman    lmanS    lamml
0  335.815  102.923  102.923  103.487
1  365.158  105.235  108.311  106.245
2  381.031  104.347  113.019  105.186
3  399.376  104.814   118.46  105.744
4  427.529  107.049  126.811   108.41
5  447.773  104.735  132.816  105.649
6  470.139  104.995   139.45   105.96

In [11]:
Nman.to_csv(r'Nman_Makhambet(2019-2025).csv', index = False)